- provide(:title, "Data Kerjasama Perguruan Tinggi")

.row-fluid
  .span12
    .box.corner-all
      .box-header.grd-white.corner-top
        .header-control
          %a{"data-box" => "collapse"}
            %i.icofont-caret-up
          %a{"data-box" => "close", "data-hide" => "bounceOutRight"} &times;
        %span Data Kerjasama Perguruan Tinggi #{ @univ.nama_pt.titleize }
      .box-body
        %table#datatables.table.table-hover.responsive
          %thead
            %tr
              %th Fasilitas
              %th &nbsp;
          %tbody
            - @univkerjasamas.each do |kerjasama|
              %tr
                %td= kerjasama.kerjasama
                %td.center
                  %span.label.label-info
                    = link_to "Edit", edit_univ_univkerjasama_path(kerjasama.univ, kerjasama)
                  %span.label.label-important
                    = link_to "Delete", univ_univkerjasama_path(kerjasama.univ, kerjasama), method: :delete, :class => "delete"

.row-fluid
  .span12
    .box.corner-all
      .box-header.grd-white.corner-top
        .header-control
          %a{"data-box" => "collapse"}
            %i.icofont-caret-up
          %a{"data-box" => "close", "data-hide" => "bounceOutRight"} &times;
        %span= yield(:title)
      .box-body
        = form_for @univkerjasama, url: @url, :html => {:class => "form-horizontal", :id => "form-validate", :novalidate => "novalidate" } do |f|
          - if @univkerjasama.present?
            - if @univkerjasama.errors.any?
              .alert.alert-error
                %button.close{"data-dismiss" => "alert", :type => "button"} &times;
                %div
                  - @univkerjasama.errors.full_messages.each do |msg|
                    = msg
                    %br
          .control-group
            %label.control-label{:for => "inputEditorSimple"} Kerjasama
            .controls
              = f.text_area :kerjasama, :id => "kerjasama", :class => "span7", :rows => "5", :data => {:form => "kerjasama"}, :placeholder => "Isikan kerjasama ..."
          .form-actions
            = f.hidden_field :univ_id, id: "univ_id", value: @univ.id
            %button.btn.btn-primary{:type => "submit"} Save
            %button.btn{:onclick => "history.go(-1);", :type => "button"} Cancel
            

:javascript
  $(document).ready(function() {
    // peity chart
    $("span[data-chart=peity-bar]").peity("bar");
                    
    // datatables
    $('#datatables').dataTable( {
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "oLanguage": {
              "sLengthMenu": "_MENU_ records per page"
      }
    });

    $('.delete').on('click', function () {
      return confirm('Anda yakin akan menghapus data ini?');
    });
  });