<% provide(:title, 'Login') %>
<div class="container">
   <div style="padding: 40px; padding-bottom: 0px;"></div>
   <div class="span8 offset2">
      <%= form_for :session, :url => sessions_path, :html => {:class => "form-horizontal"} do |f| %>
      <fieldset>
         <div id="legend">
            <legend class="">Login</legend>
         </div>
         <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>            
         </div>
         <% if flash.any? %>
         <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div>
               <% flash.each do |key, value| %>
               <%= value %><br>
               <% end %>
            </div>
         </div>
         <% end %>
         <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
               <%= f.text_field :email, :class => "input-xlarge", :placeholder => 'Email' %>
               <p class="help-block">Masukkan Email anda yang telah terdaftar</p>
            </div>
         </div>
         <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
               <%= f.password_field :password, :class => "input-xlarge", :placeholder => 'Password' %>
               <p class="help-block">Masukkan password yang sesuai</p>
            </div>
         </div>
         <div class="control-group">
            <!-- Button -->
            <div class="controls">
               <button class="btn btn-success">Login</button> <a href="#lupa-password-form" data-toggle="collapse" data-parent="#accordion2">Lupa Password?</a>
            </div>
         </div>
      </fieldset>
      <% end %>
      <div id="lupa-password-form" class="accordion-body collapse ">
         <%= form_tag password_resets_path, :class => "form-horizontal" do |f| %>
            <div class="control-group">
               <div class="controls input-append">
                  <%= text_field_tag :email, "", :placeholder => 'Email' %>
                  <button class="btn btn-info">Send New Password</button>
               </div>
            </div>
         <% end %>
      </div>
      <form class="form-horizontal">
         <div class="control-group">
            <label class="control-label">Atau Login dengan Facebook</label>
            <div class="controls">
               <%= link_to image_tag("fblogin.png", :alt => "FB Login", :height => '100px', :width => '200px'), 'auth/facebook' %>
            </div>
         </div>
      </form>
   </div>
</div>
<hr>