- provide(:title, "Administrator List")
%a.btn.btn-info.btn-small.small-margin-bottom{:href => "#{ new_admin_path }"} Tambah Administrator
.relativeWrap
  .widget.widget-gray.widget-gray-white
    .widget-head
      %h4.heading Admins & Operators
    .widget-body
      %table.dynamicTable.table.table-striped.table-bordered.table-primary.table-condensed{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %thead
          %tr
            %th{:width => "150"} Nama
            %th{:width => "50"} Role
            %th{:width => "150"} Perguruan Tinggi
            %th{:width => "50"} &nbsp;
        %tbody
          - @admins.each do |admin|
            %tr.gradeX
              %td= admin.nama
              %td= admin.role.capitalize
              %td= admin.univ.present? ? admin.univ.nama_pt : "Super Administrator"
              %td.center.actions
                %a.btn-action.glyphicons.pencil.btn-success{:href => "#{ edit_admin_path(admin) }"}
                  %i
                %a.btn-action.glyphicons.remove_2.btn-danger.delete{:href => "#{ admin_path(admin) }", method: :delete }
                  %i