<% provide(:title, "Administrator List") %>
<div class="row-fluid">
    <div class="span12">
    <%= link_to "Tambah Administrator", new_admin_path, :role => "button", :class => "btn btn-mini btn-primary" %>
    </div>
</div>
<div class="row-fluid">
  <div class="span12">
      <div class="box corner-all">
          <div class="box-header grd-white corner-top">
              <div class="header-control">
                  <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                  <a data-box="close" data-hide="bounceOutRight">&times;</a>
              </div>
              <span>Admins & Operators</span>
          </div>
          <div class="box-body">
              <table id="datatables" class="table table-hover responsive">
                  <thead>
                      <tr>
                          <th>Nama</th>
                          <th>Role</th>
                          <th>Perguruan Tinggi</th>
                          <th>&nbsp;</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% @admins.each do |admin| %>
                      <tr>
                          <td><%= admin.nama %></td>
                          <td><%= admin.role.capitalize %></td>
                          <td><%= admin.univ.present? ? admin.univ.nama_pt : "Super Administrator" %></td>
                          <td class="center">
                              <span class="label label-info">
                                  <%= link_to "Edit", edit_admin_path(admin) %>
                              </span>
                              <span class="label label-important">
                                  <%= link_to admin_path(admin), method: :delete, :class => "delete" do %>Delete<% end %>
                              </span>
                          </td>
                      </tr>
                      <% end %>
                  </tbody>
              </table>
              
          </div><!-- /box-body -->
      </div><!-- /box -->
  </div><!-- /span -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // try your js
        
        // peity chart
        $("span[data-chart=peity-bar]").peity("bar");
        
        
        // datatables
        $('#datatables').dataTable( {
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
            }
        });

        $('.delete').on('click', function () {
            return confirm('Anda yakin akan menghapus data ini?');
        });

    });

</script>