<% provide(:title, 'Rating Perguruan Tinggi') %>
<div class="container-fluid page-header">
   <div class="container">
      <h1>Rating</h1>
      <p class="lead">Rating dan Peringkat Perguruan Tinggi seluruh Indonesia</p>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="span12">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#global" data-toggle="tab">Nasional</a></li>
            <li class="dropdown">
               <a href="#kategori" data-toggle="dropdown" class="dropdown-toggle">Berdasarkan Kategori <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <% @jenis_pts.each do |jenis_pt| %>
                  <li><a href="#"><%= jenis_pt.jenis %></a></li>
                  <% end %>
               </ul>
            </li>
            <li class="dropdown">
               <a href="#regional" data-toggle="dropdown" class="dropdown-toggle">Berdasarkan Regional <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <% @provinsis.each do |provinsi| %>
                  <li><a href="#"><%= provinsi.provinsi %></a></li>
                  <% end %>
               </ul>
            </li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="global">
               <div class="span10">
                  <% @univratings.each do |univrating| %>
                  <div class="row">
                     <div class="span2"><a href="#" class="thumbnail"><%= image_tag(univrating.univ.logo_path, :alt => "Prodi Univ") %></a></div>
                     <div class="span6">
                        <p><strong><%= univrating.univ.nama_pt %></strong></p>
                        <%= univrating.univ.kota.kota %>, <%= univrating.univ.kota.provinsi.provinsi %>
                        <p>
                           <i class="icon-home"></i> <%= univrating.univ.telepon %> <br>
                           <i class="icon-envelope"></i> <%= univrating.univ.email %>
                        </p>
                     </div>
                     <div class="span1">
                        <a href="#" class="thumbnail"><img src="img/logo_its.png" alt=""></a>
                        <h5 align="center"><i class="icon-bookmark"></i>1</h5>
                     </div>
                  </div>
                  <% end %>
                  <!--<div class="pagination pagination-centered">
                     <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                     </ul>
                  </div>-->
                  <%= will_paginate @univratings, :renderer => BootstrapPagination::Rails %>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<hr>