<% provide(:title, 'Ranking Perguruan Tinggi') %>
<div class="container-fluid page-header">
   <div class="container">
      <h1>Rangking</h1>
      <p class="lead">Rangking Perguruan Tinggi seluruh Indonesia</p>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="span12">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#global" data-toggle="tab">Nasional</a></li>
            <!--<li class="dropdown">
               <a href="#kategori" data-toggle="dropdown" class="dropdown-toggle">Berdasarkan Kategori <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <% @jenis_pts.each do |jenis_pt| %>
                  <li><a href="#"><%= jenis_pt.jenis %></a></li>
                  <% end %>
               </ul>
            </li>
            <li class="dropdown">
               <a href="#regional" data-toggle="dropdown" class="dropdown-toggle">Berdasarkan Regional <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <% @provinsis.each do |provinsi| %>
                  <li><a href="#"><%= provinsi.provinsi %></a></li>
                  <% end %>
               </ul>
            </li>-->
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="global">
               <table class="table table-bordered table-striped">
                  <thead>
                     <tr>
                        <th rowspan="2">Rangking</th>
                        <th rowspan="2">Perguruan Tinggi</th>
                        <th colspan="3">
                           <div align="center">Kriteria</div>
                        </th>
                        <th rowspan="2">Total</th>
                     </tr>
                     <tr>
                        <th>Government</th>
                        <th>College</th>
                        <th>Society</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% rangking = 0 %>
                     <% @univratings.each do |univrating| %>
                     <tr>
                        <td>#<%= rangking = rangking + 1 %></td>
                        <td><%= univrating.univ.nama_pt.titleize %></td>
                        <td><%= univrating.government %></td>
                        <td><%= univrating.college %></td>
                        <td><%= univrating.society %></td>
                        <td><%= univrating.score %></td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<hr>