
<%= form_for @survey_responden do |f| %>
  <label for="range_lama_kuliah">
    1. Berapa lama Anda menjalani perkuliahan?
  </label>
  <% @range_lama_kuliahs.each do |range_lama_kuliah| %>
  	<%= radio_button("survey_responden", "range_lama_kuliah_id", range_lama_kuliah.id) %>
	<%= label_tag(:range_lama_kuliah, range_lama_kuliah.lama) %>
  <%end%> <br>

  <label for="range_ipk">
    2. Berapakah IPK Anda ketika lulus?
  </label>
  <% @range_ipks.each do |range_ipk| %>
  	<%= radio_button("survey_responden", "range_ipk_id", range_ipk.id) %>
	<%= label_tag(:range_ipk, range_ipk.ipk) %>
  <%end%><br>

  <label for="range_pekerjaan_pertama">
    3. Apakah pekerjaan PERTAMA Anda setelah lulus kuliah?
  </label>
  <% @range_pekerjaan_pertamas.each do |range_pekerjaan_pertama| %>
  	<%= radio_button("survey_responden", "range_pekerjaan_pertama_id", range_pekerjaan_pertama.id) %>
	<%= label_tag(:range_pekerjaan_pertama, range_pekerjaan_pertama.pekerjaan_pertama) %>
  <%end%><br>

  <label for="range_profesi">
    4. Apakah profesi utama Anda saat ini?
  </label>
  <% @range_profesis.each do |range_profesi| %>
  	<%= radio_button("survey_responden", "range_profesi_id", range_profesi.id) %>
	<%= label_tag(:range_profesi, range_profesi.profesi) %>
  <%end%><br>

  <label for="range_pendidikan_terakhir">
    5. Apakah pendidikan yang sedang /terakhir Anda hingga saat ini?
  </label>
  <% @range_pendidikan_terakhirs.each do |range_pendidikan_terakhir| %>
  	<%= radio_button("survey_responden", "range_pendidikan_terakhir_id", range_pendidikan_terakhir.id) %>
	<%= label_tag(:range_pendidikan_terakhir, range_pendidikan_terakhir.pendidikan) %>
  <%end%><br>

    <label for="range_lama_kuliah">
    6. Berapa lama Anda mendapatkan pekerjaan PERTAMA/melanjutkan studi setelah lulus kuliah?
  </label>
  <% @range_pekerjaan_pertamas.each do |range_pekerjaan_pertama| %>
  	<%= radio_button("survey_responden", "range_pekerjaan_pertama_id", range_pekerjaan_pertama.id) %>
	<%= label_tag(:range_pekerjaan_pertama, range_pekerjaan_pertama.pekerjaan_pertama) %>
  <%end%> <br>

    <label for="range_gaji_pertama">
    7. Berapakah gaji/income yang Anda terima pada saat pertama kali Anda bekerja/berwirausaha?
  </label>
  <% @range_gaji_pertamas.each do |range_gaji_pertama| %>
  	<%= radio_button("survey_responden", "range_gaji_pertama_id", range_gaji_pertama.id) %>
	<%= label_tag(:range_gaji_pertama, range_gaji_pertama.gaji_pertama) %>
  <%end%> <br>

    <label for="range_gaji">
    8. Berapakah gaji/income yang Anda terima pada pekerjaan/usaha Anda saat ini?
  </label>
  <% @range_gajis.each do |range_gaji| %>
  	<%= radio_button("survey_responden", "range_gaji_id", range_gaji.id) %>h 8
	<%= label_tag(:range_gaji, range_gaji.range) %>
  <%end%> <br>

    <label for="range_level_karir">
    9. Termasuk golongan manakah level karir terakhir (latest career level) Anda?
  </label>
  <% @range_level_karirs.each do |range_level_karir| %>
  	<%= radio_button("survey_responden", "range_level_karir_id", range_level_karir.id) %>
	<%= label_tag(:range_level_karir, range_level_karir.level_karir) %>
  <%end%> <br>

    <label for="range_profesi">
    10. Di bidang/sektor apakah pekerjaan/usaha Anda saat ini?
  </label>
  <% @range_profesis.each do |range_profesi| %>
  	<%= radio_button("survey_responden", "range_profesi_id", range_profesi.id) %>
	<%= label_tag(:range_profesi, range_profesi.profesi) %>
  <%end%> <br>
  <%= f.hidden_field :univ_id, :value => "2002" %>
  <%= f.hidden_field :subscriber_id, :value => "5207100703" %>

  <%= f.submit "Simpan" %>
<%end%>