<% provide(:title, 'Update Profile') %>
<div class="container">
   <div style="padding: 40px; padding-bottom: 0px;"></div>
   <div class="span8 offset2">
      <%= form_for @subscriber, :url => update_subscriber_profile_path, :html => {:class => "form-horizontal"} do |f| %>
      <fieldset>
         <div id="legend">
            <legend class="">Update Profile</legend>
         </div>
         <% if @subscriber.errors.any? %>
         <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div>
            	<% @subscriber.errors.full_messages.each do |msg| %>
            	<%= msg %><br>
            	<% end %>
            </div>
         </div>
         <% end %>
         <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Nama</label>
            <div class="controls">
               <%= f.text_field :name, :class => "input-xlarge", :placeholder => 'Nama Lengkap' %>
               <p class="help-block">Nama harus berupa karakter alphanumeric (a-z)</p>
            </div>
         </div>
         <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Tempat Lahir</label>
            <div class="controls">
               <%= collection_select(:subscriber, :tempat_lahir, Kota.order("kota asc"), :kota, :kota) %>
            </div>
         </div>
         <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Tanggal Lahir</label>
            <div class="controls">
               <%= f.text_field :tanggal_lahir, :class => "input-xlarge" %>
            </div>
         </div>
         <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Agama</label>
            <div class="controls">
               <%= f.collection_select :agama, Subscriber::AGAMAS, :to_s, :humanize , {:selected => @subscriber.agama, :prompt => "Pilih Agama"} %>
            </div>
         </div>
         <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Alamat</label>
            <div class="controls">
               <%= f.text_area :alamat, :value => @subscriber.alamat, :rows => "3", :class => "field span4", :placeholder => "Alamat" %>
            </div>
         </div>
         <div class="control-group">
            <div class="controls">
               <%= f.text_field :kodepos, :class => "input-small", :placeholder => "Kode Pos" %>
            </div>
         </div>
         <div class="control-group">
            <div class="controls">
               <%= collection_select(:subscriber, :provinsi_id, Provinsi.order("provinsi asc"), :id, :provinsi, {:selected => @subscriber.kota_id, :prompt => "Pilih Provinsi"}) %>
               <%= collection_select(:subscriber, :kota_id, Kota.order("kota asc"), :id, :kota, {:selected => @subscriber.provinsi_id, :prompt => "Pilih Kota"}) %>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="email">Jenis Kelamin</label>
            <div class="controls">
               <div class="control-group">
                  <label class="radio inline">
                    <%= f.radio_button(:jenis_kelamin, "laki-laki") %>Laki-laki
                  </label>
                  <label class="radio inline">
                    <%= f.radio_button(:jenis_kelamin, "wanita") %>Wanita
                  </label>
            </div>
         </div>

         <div class="control-group">
            <label class="control-label" for="email">Status Pernikahan</label>
            <div class="controls">
               <div class="control-group">
                  <label class="radio inline">
                    <%= f.radio_button(:status_pernikahan, "menikah") %>Menikah
                  </label>
                  <label class="radio inline">
                    <%= f.radio_button(:status_pernikahan, "belum_menikah") %>Belum Menikah
                  </label>
            </div>
         </div>

         <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Telepon</label>
            <div class="controls">
               <%= f.text_field :telepon, :class => "input-large", :placeholder => 'Telepon' %>
               <p class="help-block">Masukkan No telepon (rumah)</p>
            </div>
         </div>
         <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">HP</label>
            <div class="controls">
               <%= f.text_field :no_hp, :class => "input-large", :placeholder => 'Handphone' %>
               <p class="help-block">Masukkan no handphone</p>
            </div>
         </div>
         
         <div class="control-group">
            <!-- Button -->
            <div class="controls">
               <button class="btn btn-success">Update Profile</button>
            </div>
         </div>
      </fieldset>
      <% end %>
   </div>
</div>
<hr>