<% provide(:title, 'Trusted Indonesian Campus Review') %>

<div class="jumbotron masthead">
   <div class="container">
      <p><%= image_tag("logo.png", :alt => "Kampus Logo") %></p>
      <p>Informasi dan Peringkat Kampus di Indonesia</p>
      
      <div class="row-fluid">
         <div class="span4 offset4">
            <div class="tabbable">
               <ul class="nav nav-tabs">
                  <li class="active"><a href="#semua" data-toggle="tab">Semua</a></li>
                  <li><a href="#pt" data-toggle="tab">Perguruan Tinggi</a></li>
                  <li><a href="#prodi" data-toggle="tab">Jurusan</a></li>
               </ul>
               <div class="tab-content">
                  <div class="tab-pane active" id="semua">
                     <div class="input-append">
                        <%= form_tag(search_path, :method => "get") do %>
                        <%= text_field_tag(:keyword_all, "", :class => "input-xlarge", :placeholder => 'cari perguruan tinggi/jurusan') %>
                        <button id="search_all" class="btn" type="submit"><i class="icon-search glyphw"></i></button>
                        <% end %>
                     </div>
                     <span class="style2"></span>
                  </div>
                  <div class="tab-pane" id="pt">
                     <div class="input-append">
                        <%= form_tag(univs_path, :method => "get") do %>
                        <%= text_field_tag(:keyword_pt, "", :class => "input-xlarge", :placeholder => 'cari perguruan tinggi') %>
                        <button id="search_pt" class="btn" type="submit"><i class="icon-search glyphw"></i></button>
                        <% end %>
                     </div>
                  </div>
                  <div class="tab-pane" id="prodi">
                     <div class="input-append">
                        <%= form_tag(prodis_path, :method => "get") do %>
                        <%= text_field_tag(:keyword_prodi, "", :class => "input-xlarge", :placeholder => 'cari jurusan') %>
                        <button id="search_prodi" class="btn" type="submit"><i class="icon-search glyphw"></i></button>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

