<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Kampus.co.id - Trusted Indonesia Campus Review</title>  
  <link href='http://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>  
  <%= stylesheet_link_tag "homepage", :media => "all" %>
  <script src="<%= asset_path('front/vendor/custom.modernizr') %>"></script>
</head>
<body>
  <header>
    <nav>      
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Ranking", ranking_path %></li>
        <li><%= link_to "Perguruan Tinggi", univs_path %></li>
        <li><%= link_to "Program Studi", prodis_path %></li>
        <li><%= link_to "Login", login_path %></li>
      </ul>
    </nav>
  </header>
  <% if flash[:newsletter_error] != nil %>
     <div data-alert class="alert-box alert" align="center">
        <%= flash[:newsletter_error] %>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>

  <% if flash[:newsletter_success] != nil %>
     <div data-alert class="alert-box" align="center">
        <%= flash[:newsletter_success] %>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>
  <div role="main">
    <div class="row">
      <div class="small-5 small-centered columns logo-fix">
        <img class="double-fix" src="<%= asset_path('front/homepage/logo.png') %> ">
      </div>
    </div>
    <div class="row">
      <div class="small-7 small-centered columns">
        <form action="<%= search_path %>" id="search">
          <fieldset>
            <div class="row">
              <div class="large-12 columns">                
                <div class="row collapse custom-input">
                  <div class="small-9 large-10 columns">
                    <%= text_field_tag(:keyword, "") %>
                  </div>
                  <div class="small-3 large-2 columns">
                    <input type="submit" class="button prefix" value="">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <ul class="button-group">
                  <li class="width-20 start-round"><a class="active-button small button custom-border start-round" id="all">Semua</a></li>
                  <li class="width-40"><a class="small button custom-border" id="pt">Perguruan Tinggi</a></li>
                  <li class="width-40 end-round"><a class="small button custom-border end-round" id="prodi">Program Studi</a></li>
                </ul>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="secondary">
    <div class="row compare-panel">
      <div class="large-12 columns">
        <div class="row compare-header">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-5 columns">
                <p class="left-compare-label">
                  <span class="hashtag">#</span>
                  <span class="compare-label-1">1</span>
                </p>
                <p class="right-compare-label">
                  <span class="compare-label-2">Ranking Kampus</span><span class="compare-label-3">Top Ten Best University</span>
                </p>
              </div>
              <div class="large-7 columns">
                <p class="left-compare-label">
                  <span class="hashtag">#</span>
                  <span class="compare-label-1">2</span>
                </p>
                <p class="right-compare-label">
                  <span class="compare-label-2">Compare</span><span class="compare-label-3">Compare Your Selected Campus</span>
                </p>            
              </div>  
            </div>            
          </div>
        </div>
        <div class="row compare-box">
          <div class="compare-box-left-shadow">
            <img src="<%= asset_path('front/homepage/compare-box-left.png') %>">
          </div>
          <div class="compare-box-bottom-shadow">
            <img src="<%= asset_path('front/homepage/compare-box-bottom.png') %>">
          </div>
          <div class="compare-box-right-shadow">
            <img src="<%= asset_path('front/homepage/compare-box-right.png') %>">
          </div>
          <div class="large-5 columns top-ten">
            <div class="row hidden-compare-label">
              <div class="small-5 small-centered columns center-fix">
                <p class="left-compare-label">
                  <span class="hashtag">#</span>
                  <span class="compare-label-1">1</span>
                </p>
                <p class="right-compare-label">
                  <span class="compare-label-2">Ranking Kampus</span><span class="compare-label-3">Top Ten Best University</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <ul>
                  <%
                    rangking = 0
                    if @univrankings.any?
                      @univrankings.each do |univranking|
                  %>
                    <li style="font-color=#aaaaaa"><%= rangking = rangking + 1 %>. <%= link_to univranking.univ.nama_pt.titleize, univ_path(univranking.univ), :target => "_blank" %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>            
          </div>
          <div class="large-7 columns compare-pair">
            <form>
              <fieldset>
                <div class="row hidden-compare-label">
                  <div class="small-5 small-centered columns center-fix">                    
                    <p class="left-compare-label">
                      <span class="hashtag">#</span>
                      <span class="compare-label-1">2</span>
                    </p>
                    <p class="right-compare-label">
                      <span class="compare-label-2">Compare</span><span class="compare-label-3">Compare Your Selected Campus</span>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-6 columns pair-left">
                    <div class="row">
                      <div class="large-11 columns">
                        <label>Nama Kampus</label>
                        <input type="text" placeholder="Input Nama Perguruan Tinggi">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-11 columns">
                        <label class="space-top">Program Studi</label>
                        <input type="text" placeholder="Input Program Studi">
                      </div>
                    </div>
                  </div>
                  <div class="large-6 columns pair-right">
                    <div class="row">
                      <div class="large-11 columns right">
                        <label>Nama Kampus</label>
                        <input type="text" placeholder="Input Nama Perguruan Tinggi">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-11 columns right">
                        <label class="space-top">Program Studi</label>
                        <input type="text" placeholder="Input Program Studi">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row compare-submit">
                  <div class="small-4 large-3 small-centered columns">
                    <input type="submit" value="Compare" class="tiny small-centered button compare-button">
                  </div>
                </div>
              </fieldset>
            </form>            
          </div>        
        </div>
      </div>
    </div>
    <%= render :partial => "layouts/support" %>
  </div>
  <%= render :partial => "layouts/footer" %>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/assets/front/vendor/zepto' : '/assets/front/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="/assets/front/foundation.min.js"></script>
  
  <script>
    $(document).foundation();
    $(document).ready(function() {
      $(".button-group a").click(function(){
        $(".button-group a").removeClass("active-button");
        $(this).addClass("active-button");
      });
      $(".description-panel section").mouseenter(function(){
        $(this).addClass("active-section");        
      })
      $(".description-panel section").mouseleave(function(){
        $(this).removeClass("active-section");
      });

      // change form action dynamically
      $('#all').click(function(){
        $('#search').attr('action', '<%= search_path %>');
      });

      $('#pt').click(function(){
        $('#search').attr('action', '<%= univs_path %>');
      });

      $('#prodi').click(function(){
        $('#search').attr('action', '<%= prodis_path %>');
      });

      $('#provinsi').click(function(){
        $('#search').attr('action', '<%= search_path %>');
      });
    });
  </script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</body>
</html>
