<% provide(:title, 'Trusted Indonesian Campus Review') %>
<div class="jumbotron masthead">
   <div class="container">
      <h1>Kampus.co.id</h1>
      <p>Informasi, Rating, dan Review Kampus di Indonesia</p>
      <p>
      <div class="row-fluid">
         <div class="span4 offset4">
            <div class="tabbable">
               <ul class="nav nav-tabs">
                  <li class="active"><a href="#semua" data-toggle="tab">Semua</a></li>
                  <li><a href="#pt" data-toggle="tab">Perguruan Tinggi</a></li>
                  <li><a href="#prodi" data-toggle="tab">Jurusan</a></li>
                  <li><a href="#provinsi" data-toggle="tab">Provinsi</a></li>
               </ul>
               <div class="tab-content">
                  <div class="tab-pane active" id="semua">
                     <div class="input-append">
                        <%= form_tag("/search", :method => "get") do %>
                        <input id="keyword_all" type="text">
                        <button id="search_all" class="btn" type="submit">Cari</button>
                        <% end %>
                     </div>
                     <span class="style2"></span>
                  </div>
                  <div class="tab-pane" id="pt">
                     <div class="input-append">
                        <%= form_tag(univs_path, :method => "get") do %>
                        <input id="keyword_univ" type="text">
                        <button id="search_univ" class="btn" type="submit">Cari</button>
                        <% end %>
                     </div>
                  </div>
                  <div class="tab-pane" id="prodi">
                     <div class="input-append">
                        <%= form_tag(prodis_path, :method => "get") do %>
                        <input id="keyword_prodi" type="text">
                        <button id="search_prodi" class="btn" type="submit">Cari</button>
                        <% end %>
                     </div>
                  </div>
                  <div class="tab-pane" id="provinsi">
                     <div class="input-append">
                        <input type="text">
                        <div class="btn-group">
                           <button class="btn dropdown-toggle" data-toggle="dropdown">
                           Semua
                           <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu">
                              <% @provinsis.each do |provinsi| %>
                              <li><%= provinsi.provinsi %></li>
                              <% end %>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </p>
      <ul class="masthead-links">
         <li>
            <%= link_to 'Perguruan Tinggi', univs_path %>
         </li>
         <li> 
            <%= link_to 'Jurusan', prodis_path %>
         </li>
         <li> 
            <%= link_to 'Rating', rating_path %>
         </li>
      </ul>
   </div>
</div>
<!-- Social Network -->
<div class="bs-docs-social">
   <div class="container">
      <ul class="bs-docs-social-buttons">
         <li class="follow-btn"> 
            <a href="https://twitter.com/glend_maatita" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @kampuscoid</a>
         </li>
         <li class="tweet-btn"> 
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kampus.co.id/" data-count="horizontal" data-via="twbootstrap" data-related="Kampus.co.id">Tweet</a> 
         </li>
      </ul>
   </div>
</div>