<!DOCTYPE html>
%html{ class: "no-js", lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width" }
    %title Kampus.co.id | Trusted Indonesian Campus Review  
    %link{ href: "http://fonts.googleapis.com/css?family=Alef", rel: "stylesheet", type: "text/css" }  
    = stylesheet_link_tag "homepage", media: "all"
    %script{ src: asset_path('front/vendor/custom.modernizr.js') }

  %body
    %header
      %nav
        %ul
          %li= link_to "Home", home_path
          %li= link_to "Ranking", ranking_path
          %li= link_to "Perguruan Tinggi", univs_path
          %li= link_to "Program Studi", prodis_path
          %li= link_to "Login", login_path

    - if flash[:newsletter_error] != nil 
      %div{ data: { alert: true }, class: "alert-box alert", align: "center" }
        - flash[:newsletter_error]
        %a{ href: "#", class: "close"} &times;

    - if flash[:newsletter_success] != nil
      %div{ data: { alert: true }, class: "alert-box", align: "center" }
        - flash[:newsletter_success]
        %a{ href: "#", class: "close"} &times;

    %div{ role: "main" }
      .row
        .small-5.small-centered.columns.logo-fix= image_tag asset_path('front/homepage/logo.png'), class: "double-fix"

      .row
        .small-7.small-centered.columns
          %form{ action: search_path, id: "search"}
            %fieldset
              .row
                .large-12.columns
                  .row.collapse.custom-input
                    .small-9.large-10.columns
                      = text_field_tag :keyword, ""
                    .small-3.large-2.columns
                      = submit_tag "", class: "button prefix", id: "search_btn"

              .row
                .large-12.columns
                  %ul.button-group
                    %li.width-20.start-round 
                      %a.active-button.small.button.custom-border.start-round#all Semua                    
                    %li.width-40
                      %a.small.button.custom-border#pt Perguruan Tinggi
                    %li.width-40.end-round
                      %a.small.button.custom-border.end-round#prodi Program Studi

    .secondary
      .row.compare-panel
        .large-12.columns
          .row.compare-header
            .large-12.columns
              .row
                .large-5.columns
                  %p.left-compare-label
                    %span.hashtag #
                    %span.compare-label-1 1

                  %p.right-compare-label
                    %span.compare-label-2 Ranking Kampus
                    %span.compare-label-3 Top Ten Best University

                .large-7.columns
                  %p.left-compare-label
                    %span.hashtag #
                    %span.compare-label-1 2

                  %p.right-compare-label
                    %span.compare-label-2 Compare
                    %span.compare-label-3 Compare Your Selected Campus

          .row.compare-box
            .compare-box-left-shadow= image_tag asset_path('front/homepage/compare-box-left.png')
            .compare-box-bottom-shadow= image_tag asset_path('front/homepage/compare-box-bottom.png')
            .compare-box-right-shadow= image_tag asset_path('front/homepage/compare-box-right.png')

            .large-5.columns.top-ten
              .row.hidden-compare-label
                .small-5.small-centered.columns.center-fix
                  %p.left-compare-label
                    %span.hashtag #
                    %span.compare-label-1 1
                  %p.right-compare-label
                    %span.compare-label-2 Ranking Kampus
                    %span.compare-label-3 Top Ten Best University

              .row
                .small-12.columns
                  %ul
                    - rangking = 0
                    - if @univrankings.any?
                      - @univrankings.each do |univranking|
                        %li
                          = "#{rangking += 1}."
                          = link_to univranking.univ.nama_pt.titleize, univ_path(univranking.univ), :target => "_blank"

            .large-7.columns.compare-pair
              %fieldset
                .row.hidden-compare-label
                  .small-5.small-centered.columns.center-fix
                    %p.left-compare-label
                      %span.hashtag #
                      %span.compare-label-1 2

                    %p.right-compare-label
                      %span.compare-label-2 Compare
                      %span.compare-label-3 Compare Your Selected Campus

                = form_tag(compare_index_path, method: "get") do
                  .row
                    .large-6.columns.pair-left
                      .row
                        .large-11.columns
                          %label Nama Kampus
                          = text_field_tag "", "", placeholder: "Input Nama Perguruan Tinggi", id: "autocomplete_pt_1"
                          = text_field_tag "pt_1", ""

                      .row
                        .large-11.columns
                          %label.space-top Program Studi
                          = text_field_tag "", "", placeholder: "Input Program Studi", id: "autocomplete_prodi_1"
                          = text_field_tag "prodi_1", ""

                    .large-6.columns.pair-right
                      .row
                        .large-11.columns.right
                          %label Nama Kampus
                          = text_field_tag "", "", placeholder: "Input Nama Perguruan Tinggi", id: "autocomplete_pt_2"
                          = text_field_tag "pt_2", ""

                      .row
                        .large-11.columns.right
                          %label.space-top Program Studi
                          = text_field_tag "", "", placeholder: "Input Program Studi", id: "autocomplete_prodi_2"
                          = text_field_tag "prodi_2", ""

                  .row.compare-submit
                    .small-4.large-3.small-centered.columns
                      = submit_tag "Compare", class: "tiny small-centered button compare-button"

      = render :partial => "layouts/support"
    = render :partial => "layouts/footer"
    
    :javascript
      document.write('<script src=' + ('__proto__' in {} ? '/assets/front/vendor/zepto' : '/assets/front/vendor/jquery') + '.js><\/script>');
    
    %script{ src: "/assets/jquery-1.10.0.min.js" }
    %script{ src: "/assets/front/foundation.min.js" }
    %script{ src: "/assets/jquery.autocomplete.min.js" }
    
    :javascript
      $(document).foundation();
      $(document).ready(function() {
        var pr;
        $(".button-group a").click(function(){
          $(".button-group a").removeClass("active-button");
          $(this).addClass("active-button");
        });
        $(".description-panel section").mouseenter(function(){
          $(this).addClass("active-section");        
        });
        $(".description-panel section").mouseleave(function(){
          $(this).removeClass("active-section");
        });


        // change form action dynamically
        $('#all').click(function(){
          $('#search').attr('action', '#{search_path}');
        });

        $('#pt').click(function(){
          $('#search').attr('action', '#{univs_path}');
        });

        $('#prodi').click(function(){
          $('#search').attr('action', '#{prodis_path}');
        });

        $('#provinsi').click(function(){
          $('#search').attr('action', '#{search_path}');
        });

        $('#autocomplete_pt_1').autocomplete({
          serviceUrl: '/univs_stream.json',
          onSelect: function (suggestion) {
            $("#pt_1").val(suggestion.data);
            $("#autocomplete_pt_1").val(suggestion.value);
          }
        });

        $('#autocomplete_pt_2').autocomplete({
          serviceUrl: '/univs_stream.json',
          onSelect: function (suggestion) {
            $("#pt_2").val(suggestion.data);
            $("#autocomplete_pt_2").val(suggestion.value);
          }
        });

        $('#autocomplete_prodi_1').autocomplete({
          serviceUrl: '/prodis_stream.json',
          params: { 
              univ_id : $("#pt_1").val()
          },
          onSelect: function (suggestion) {
            $("#prodi_1").val(suggestion.data);
            $("#autocomplete_prodi_1").val(suggestion.value);
          }
        });

        $('#autocomplete_prodi_2').autocomplete({
          serviceUrl: '/prodis_stream.json',
          params: { 
              univ_id : $("#pt_2").val()
          },
          onSelect: function (suggestion) {
            $("#prodi_1").val(suggestion.data);
            $("#autocomplete_prodi_2").val(suggestion.value);
          }
        });
      });

    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
