- provide(:title, "Data Prestasi Program Studi")

- if params[:action] == "index" || params[:action] == "create"
  - url = univ_prodi_prodi_prestasis_path(@prodi.univ, @prodi)
- elsif params[:action] == "edit" || params[:action] == "update"
  - url = univ_prodi_prodi_prestasi_path(@prodi.univ, @prodi, @prodi_prestasi)

.row-fluid
  .span12
    .box.corner-all
      .box-header.grd-white.corner-top
        .header-control
          %a{"data-box" => "collapse"}
            %i.icofont-caret-up
          %a{"data-box" => "close", "data-hide" => "bounceOutRight"} &times;
        %span Data Prestasi Program Studi #{ @prodi.nama_prodi.titleize } - #{ @prodi.univ.nama_pt.titleize }
      .box-body
        %table#datatables.table.table-hover.responsive
          %thead
            %tr
              %th Tahun
              %th Prestasi
              %th &nbsp;
          %tbody
            - @prodi_prestasis.each do |prestasi|
              %tr
                %td= prestasi.tahun
                %td= prestasi.prestasi
                %td.center
                  %span.label.label-info
                    = link_to "Edit", edit_univ_prodi_prodi_prestasi_path(prestasi.prodi.univ, prestasi.prodi, prestasi)
                  %span.label.label-important
                    = link_to "Delete", univ_prodi_prodi_prestasi_path(prestasi.prodi.univ, prestasi.prodi, prestasi), method: :delete, :class => "delete"

.row-fluid
  .span12
    .box.corner-all
      .box-header.grd-white.corner-top
        .header-control
          %a{"data-box" => "collapse"}
            %i.icofont-caret-up
          %a{"data-box" => "close", "data-hide" => "bounceOutRight"} &times;
        %span= yield(:title)
      .box-body
        = form_for @prodi_prestasi, url: url, :html => {:class => "form-horizontal", :id => "form-validate", :novalidate => "novalidate" } do |f|
          - if @prodi_prestasi.errors.any?
            .alert.alert-error
              %button.close{"data-dismiss" => "alert", :type => "button"} &times;
              %div
                - @prodi_prestasi.errors.full_messages.each do |msg|
                  = msg
                  %br

          .control-group
            %label.control-label{for: "required"} Tahun
            .controls
              = f.text_field :tahun, id: "tahun", class: "grd-white input-xxlarge", placeholder: "ex. 2015", data: { validate: "{required: true, messages:{required:'Tahun Prestasi Prodi harus diisi'}}"}

          .control-group
            %label.control-label{:for => "inputEditorSimple"} Prestasi
            .controls
              = f.text_area :prestasi, :id => "prestasi", :class => "span7", :rows => "5", :data => {:form => "prestasi"}, :placeholder => "Isikan prestasi ..."

          .form-actions
            = f.hidden_field :prodi_id, id: "prodi_id", value: @prodi.id
            %button.btn.btn-primary{:type => "submit"} Save
            %button.btn{:onclick => "history.go(-1);", :type => "button"} Cancel
            

:javascript
  $(document).ready(function() {
    // peity chart
    $("span[data-chart=peity-bar]").peity("bar");
                    
    // datatables
    $('#datatables').dataTable( {
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "oLanguage": {
              "sLengthMenu": "_MENU_ records per page"
      }
    });

    $('.delete').on('click', function () {
      return confirm('Anda yakin akan menghapus data ini?');
    });
  });