- if params[:action] == "new" || params[:action] == "create"
  - url = univ_prodis_path(@prodi.univ)
- elsif params[:action] == "edit" || params[:action] == "update"
  - url = "/admin/univs/#{@prodi.univ.id}/prodis/#{@prodi.id}"

- if flash[:notice]
  .alert.alert-success
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Berhasil!
    = flash[:notice]

= form_for @prodi, url: url, html: {class: "form-horizontal", multipart: true } do |f|
  - if @prodi.errors.any?
    .alert.alert-error
      %button.close{"data-dismiss" => "alert", type: "button"} &times;
      %div
        - @prodi.errors.full_messages.each do |msg|
          = msg
          %br
  .tab-content{:style => "padding: 0;"}
    #account-details.tab-pane.active
      .widget.widget-2
        .widget-head
          %h4.heading.glyphicons.pencil
            %i>
            #{ yield(:title) }
        .widget-body{:style => "padding-bottom: 0;"}
          .row-fluid
            .span6
              .control-group
                %label.control-label Nama Program Studi
                .controls
                  = f.text_field :nama_prodi, class: "span10", placeholder: "ex. Jurusan XYZ"
              .control-group
                %label.control-label Perguruan Tinggi
                .controls
                  = text_field_tag :nama_pt, @prodi.univ.present? ? @prodi.univ.nama_pt : "", placeholder: "Pilih Universitas", class: "span10"
                  = f.hidden_field :univ_id, id: "univ_id"
              .control-group
                %label.control-label Fakultas
                .controls
                  = f.text_field :fakultas, class: "span10", placeholder: "ex. Fakultas XYZ"
              .control-group
                %label.control-label Jenjang Program Studi
                .controls
                  = collection_select(:prodi, :jenjang_prodi_id, JenjangProdi.order("jenjang ASC"), :id, :jenjang, {}, { class: "span10" } )
              .control-group
                %label.control-label Bidang Program Studi
                .controls
                  = text_field_tag :prodi_bidang, @prodi.prodi_bidang.present? ? @prodi.prodi_bidang.nama_bidang : "", id: "prodi_bidang", placeholder: "Pilih Bidang Program Studi", class: "span10"
                  = f.hidden_field :prodi_bidang_id, id: "prodi_bidang_id"
              .control-group
                %label.control-label Tahun Berdiri
                .controls
                  = f.text_field :tahun_berdiri, class: "span10", placeholder: "ex. 1888"
              .control-group
                %label.control-label Email
                .controls
                  = f.text_field :email, class: "span10", placeholder: "ex. user@xyz.com"
              .control-group
                %label.control-label Website
                .controls
                  = f.text_field :website, class: "span10", placeholder: "ex. http://xyz.com"
              .control-group
                %label.control-label Alamat
                .controls
                  = f.text_area :alamat, rows: "5", class: "span9", placeholder: "Isikan alamat"
              .control-group
                %label.control-label Kota
                .controls
                  = text_field_tag :kota, @prodi.kota.present? ? @prodi.kota.kota : "", id: "kota", placeholder: "Pilih Kota", class: "span10"
                  = f.hidden_field :kota_id, id: "kota_id"
              .control-group
                %label.control-label Telepon
                .controls
                  = f.text_field :telepon, class: "span10", placeholder: "Isikan nomor telepon"
              .control-group
                %label.control-label Fax
                .controls
                  = f.text_field :fax, class: "span10", placeholder: "Isikan nomor Fax"
              .control-group
                %label.control-label Upload Logo Jurusan
                .controls
                  .fileupload.fileupload-new{"data-provides" => "fileupload"}
                    .input-append
                      .uneditable-input.span2
                        %i.icon-file.fileupload-exists
                        %span.fileupload-preview
                      %span.btn.btn-file
                        %span.fileupload-new Select file
                        %span.fileupload-exists Change
                        = f.file_field :logo
                      %a.btn.fileupload-exists{"data-dismiss" => "fileupload", :href => "#"} Remove
                - if @prodi.logo_url.present?
                  .controls
                    = image_tag @prodi.logo_url(:thumb)
              .control-group
                %label.control-label Upload Featured Image
                .controls
                  .fileupload.fileupload-new{"data-provides" => "fileupload"}
                    .input-append
                      .uneditable-input.span2
                        %i.icon-file.fileupload-exists
                        %span.fileupload-preview
                      %span.btn.btn-file
                        %span.fileupload-new Select file
                        %span.fileupload-exists Change
                        = f.file_field :featured_image
                      %a.btn.fileupload-exists{"data-dismiss" => "fileupload", :href => "#"} Remove
                - if @prodi.featured_image_url.present?
                  .controls
                    = image_tag @prodi.featured_image_url(:thumb)
          .row-fluid
            .span12
              .control-group
                %label.control-label Profil
                .controls
                  = f.text_area :profile, class: "span10", rows: "5", placeholder: "Isikan profil ..."
              .control-group
                %label.control-label Jumlah Mahasiswa
                .controls
                  = f.text_field :jumlah_mahasiswa, class: "span10", placeholder: "Isikan jumlah mahasiswa"
              .control-group
                %label.control-label Bidang Studi
                .controls
                  = f.text_area :bidang_studi, class: "span10 wysihtml5", rows: "5", placeholder: "Isikan deskripsi bidang studi ..."
              .control-group
                %label.control-label Kompetensi
                .controls
                  = f.text_area :kompetensi, class: "span10 wysihtml5", rows: "5", placeholder: "Isikan kompetensi ..."
              .control-group
                %label.control-label Seleksi Masuk
                .controls
                  = f.text_area :seleksi_masuk, class: "wysihtml5 span10", rows: "5", placeholder: "Isikan seleksi masuk ..."

              .control-group
                %label.control-label Jumlah Dosen Professor
                .controls
                  = f.text_field :total_dosen_prof, class: "span10", placeholder: "total dosen professor"
              .control-group
                %label.control-label Jumlah Dosen Doktor
                .controls
                  = f.text_field :total_dosen_doktor, class: "span10", placeholder: "total dosen doktor"
              .control-group
                %label.control-label Jumlah Dosen Master
                .controls
                  = f.text_field :total_dosen_master, class: "span10", placeholder: "total dosen master"
              .control-group
                %label.control-label Jumlah Dosen Sarjana
                .controls
                  = f.text_field :total_dosen_sarjana, class: "span10", placeholder: "total dosen sarjana"
              .control-group
                %label.control-label Facebook
                .controls
                  %strong http://facebook.com/
                  = f.text_field :facebook, class: "span4"
              .control-group
                %label.control-label Twitter
                .controls
                  %strong http://twitter.com/
                  = f.text_field :twitter, class: "span4"
              .control-group
                %label.control-label Youtube
                .controls
                  %strong http://youtube.com/user/
                  = f.text_field :youtube, class: "span4"
          .form-actions{:style => "margin: 0;"}
            %button.btn.btn-icon.btn-primary.glyphicons.circle_ok{:type => "submit"}
              %i>
              Save
            %button.btn.btn-icon.btn-default.glyphicons.circle_remove{:type => "button"}
              %i>
              Cancel

          - if params[:action] == "edit" || params[:action] == "update"
            .form-actions
              = link_to "Fasilitas Prodi", univ_prodi_prodi_fasils_path(@prodi.univ, @prodi), class: "btn btn-inverse"
              = link_to "Prestasi Prodi", univ_prodi_prodi_prestasis_path(@prodi.univ, @prodi), class: "btn btn-inverse" 
              = link_to "Biaya Prodi", univ_prodi_prodi_biayas_path(@prodi.univ, @prodi), class: "btn btn-inverse" 