- if params[:action] == "new" || params[:action] == "create"
  - url = univ_prodis_path(@prodi.univ)
- elsif params[:action] == "edit" || params[:action] == "update"
  - url = "/admin/univs/#{@prodi.univ.id}/prodis/#{@prodi.id}"

- if flash[:notice]
  .alert.alert-success
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Berhasil!
    = flash[:notice]
    
.row-fluid
  .span12
    .box.corner-all
      .box-header.grd-white.corner-top
        .header-control
          %a{"data-box" => "collapse"}
            %i.icofont-caret-up
          %a{"data-box" => "close", "data-hide" => "bounceOutRight"} &times;
        %span= yield(:title)

      .box-body          
        = form_for @prodi, url: url, html: {class: "form-horizontal", multipart: true, id: "form-validate", novalidate: "novalidate"} do |f|
          - if @prodi.errors.any?
            .alert.alert-error
              %button.close{"data-dismiss" => "alert", type: "button"} &times;
              %div
                - @prodi.errors.full_messages.each do |msg|
                  = msg
                  %br

          .control-group
            %label.control-label{for: "required"} Nama Program Studi
            .controls
              = f.text_field :nama_prodi, id: "nama_prodi", class: "grd-white input-xxlarge", placeholder: "ex. Jurusan XYZ", data: { validate: "{required: true, messages:{required:'Nama Program Studi harus diisi'}}"}

          .control-group
            %label.control-label{for: "inputSelect"} Perguruan Tinggi
            .controls
              = text_field_tag :nama_pt, @prodi.univ.present? ? @prodi.univ.nama_pt : "", id: "nama_pt", placeholder: "Pilih Universitas", class: "grd-white input-xxlarge", data: {validate: "{required: true, messages: {required: 'Universitas harus diisi'}}" }
              = f.hidden_field :univ_id, id: "univ_id"

          .control-group
            %label.control-label{for: "required"} Fakultas
            .controls
              = f.text_field :fakultas, id: "fakultas", class: "grd-white input-xlarge", placeholder: "ex. Fakultas XYZ", data: {validate: "{required: true, messages: {required: 'Fakultas harus diisi'}}" }

          .control-group
            %label.control-label{for: "inputSelect"} Jenjang Program Studi
            .controls
              = collection_select(:prodi, :jenjang_prodi_id, JenjangProdi.order("jenjang ASC"), :id, :jenjang, {}, {style: "width:200px", id: "jenjang_prodi", data: {form: "jenjang", placeholder: "Pilih Jenjang Program Studi"}})

          .control-group
            %label.control-label{for: "inputSelect"} Bidang Program Studi
            .controls
              = text_field_tag :prodi_bidang, @prodi.prodi_bidang.present? ? @prodi.prodi_bidang.nama_bidang : "", id: "prodi_bidang", placeholder: "Pilih Bidang Program Studi", class: "grd-white input-xxlarge", data: {validate: "{required: true, messages: {required: 'Bidang Program Studi harus diisi'}}" }
              = f.hidden_field :prodi_bidang_id, id: "prodi_bidang_id"

          .control-group
            %label.control-label{for: "required"} Tahun Berdiri
            .controls
              = f.text_field :tahun_berdiri, id: "tahun_berdiri", class: "grd-white input-xlarge", placeholder: "ex. 1888", data: {validate: "{required: false, maxlength: 4, minlength:4, number:true, messages: {required: 'Tahun Berdiri harus diisi', maxlength: 'Tahun berdiri terdiri dari 4 karakter numeric', minlength: 'Tahun berdiri terdiri dari 4 karakter numerik', number: 'Tahun berdiri terdiri dari 4 karakter numerik'}}" }

          .control-group
            %label.control-label{for: "required"} Email
            .controls
              = f.text_field :email, id: "email", class: "grd-white", placeholder: "ex. user@xyz.com", data: {validate: "{required: true, email: true, messages: {required: 'Email harus diisi', email: 'Format email tidak valid'}}" }

          .control-group
            %label.control-label{for: "required"} Website
            .controls
              = f.text_field :website, id: "website", class: "grd-white", placeholder: "ex. http://xyz.com", data: {validate: "{required: true, messages: {required: 'Website harus diisi'}}"}

          .control-group
            %label.control-label{for: "required"} Alamat
            .controls
              = f.text_area :alamat, rows: "3", id: "alamat", placeholder: "Isikan alamat"

          .control-group
            %label.control-label{for: "inputSelect"} Kota
            .controls
              = text_field_tag :kota, @prodi.kota.present? ? @prodi.kota.kota : "", id: "kota", placeholder: "Pilih Kota", class: "grd-white input-large", data: {validate: "{required: true, messages: {required: 'Kota Program Studi harus diisi'}}" }
              = f.hidden_field :kota_id, id: "kota_id"

          .control-group
            %label.control-label{for: "required"} Telepon
            .controls
              = f.text_field :telepon, id: "telepon", class: "grd-white", placeholder: "Isikan nomor telepon", data: {validate: "{required: true, messages: {required: 'Telepon harus diisi'}}"}

          .control-group
            %label.control-label{for: "required"} Fax
            .controls
              = f.text_field :fax, id: "fax", class: "grd-white", placeholder: "Isikan nomor Fax", data: {validate: "{required: false, messages: {required: 'Fax harus diisi'}}"}
          
          .control-group
            %label.control-label{for: "inputUpload"} Upload Logo Jurusan
            .controls
              = f.file_field :logo, data: {form: "uniform"}
            - if @prodi.logo_url.present?
              .controls
                = image_tag @prodi.logo_url(:thumb)
          
          .control-group
            %label.control-label{for: "inputUpload"} Upload Featured Image
            .controls
              = f.file_field :featured_image, data: {form: "uniform"}
            - if @prodi.featured_image_url.present?
              .controls
                = image_tag @prodi.featured_image_url(:thumb)
          
          .control-group
            %label.control-label{for: "inputEditorSimple"} Profil
            .controls
              = f.text_area :profile, id: "profil", class: "span10", rows: "8", placeholder: "Isikan profil ..."
          
          .control-group
            %label.control-label{for: "required"} Jumlah Mahasiswa
            .controls
              = f.text_field :jumlah_mahasiswa, id: "jumlah_mahasiswa", class: "grd-white", placeholder: "Isikan jumlah mahasiswa"
          
          .control-group
            %label.control-label{for: "inputEditorSimple"} Bidang Studi
            .controls
              = f.text_area :bidang_studi, id: "bidang_studi", class: "span10", rows: "8", data: {form: "bidang"}, placeholder: "Isikan deskripsi bidang studi ..."
          
          .control-group
            %label.control-label{for: "inputEditorSimple"} Kompetensi
            .controls
              = f.text_area :kompetensi, id: "kompetensi", class: "span10", rows: "8", data: {form: "kompetensi"}, placeholder: "Isikan kompetensi ..."

          .control-group
            %label.control-label{for: "silabus"} Upload Silabus
            .controls
              = f.file_field :silabus, data: {form: "uniform"}
            - if @prodi.silabus.present?
              .controls
                %object{ src: @prodi.silabus_url, width: "525", height: "600", type: "application/pdf"}
                  %param{name: "zoom", value: "20%"}
          
          .control-group
            %label.control-label{for: "inputEditorSimple"} Seleksi Masuk
            .controls
              = f.text_area :seleksi_masuk, id: "seleksi_masuk", class: "span10", rows: "8", data: {form: "seleksi"}, placeholder: "Isikan seleksi masuk ..."
          
          .control-group
            %label.control-label{for: "required"} Jumlah Dosen Professor
            .controls
              = f.text_field :total_dosen_prof, id: "total_dosen_prof", class: "grd-white", placeholder: "total dosen professor"

          .control-group
            %label.control-label{for: "required"} Jumlah Dosen Doktor
            .controls
              = f.text_field :total_dosen_doktor, id: "total_dosen_doktor", class: "grd-white", placeholder: "total dosen doktor"
          
          .control-group
            %label.control-label{for: "required"} Jumlah Dosen Master
            .controls
              = f.text_field :total_dosen_master, id: "total_dosen_master", class: "grd-white", placeholder: "total dosen master"
          
          .control-group
            %label.control-label{for: "required"} Jumlah Dosen Sarjana
            .controls
              = f.text_field :total_dosen_sarjana, id: "total_dosen_sarjana", class: "grd-white", placeholder: "total dosen sarjana"
          
          .control-group
            %label.control-label{for: "required"} Facebook
            .controls
              %strong http://facebook.com/#{f.text_field :facebook, id: "facebook", class: "grd-white"}
          
          .control-group
            %label.control-label{for: "required"} Twitter
            .controls
              %strong http://twitter.com/#{f.text_field :twitter, id: "twitter", class: "grd-white"}
          
          .control-group
            %label.control-label{for: "required"} Youtube
            .controls
              %strong http://youtube.com/user/#{f.text_field :youtube, id: "youtube", class: "grd-white"}
          
          .form-actions
            %button.btn.btn-primary{:type => "submit"} Save
            %button.btn{:type => "button"} Cancel

          - if params[:action] == "edit" || params[:action] == "update"
            .form-actions
              = link_to "Fasilitas Prodi", univ_prodi_prodi_fasils_path(@prodi.univ, @prodi), class: "btn btn-inverse"
              = link_to "Prestasi Prodi", univ_prodi_prodi_prestasis_path(@prodi.univ, @prodi), class: "btn btn-inverse" 
              = link_to "Biaya Prodi", univ_prodi_prodi_biayas_path(@prodi.univ, @prodi), class: "btn btn-inverse" 

:javascript
  $(document).ready(function() {      
    // peity chart
    $("span[data-chart=peity-bar]").peity("bar");
    

    $('.delete').on('click', function () {
        return confirm('Anda yakin akan menghapus data ini?');
    });

    // uniform
    $('[data-form=uniform]').uniform()

    // select2
    $('[data-form=univ]').select2();
    $('[data-form=jenjang]').select2();
    $('[data-form=kota]').select2();
    $('[data-form=prodi_bidang]').select2();

    // wysihtml5
    $('[data-form=bidang]').wysihtml5();
    $('[data-form=seleksi]').wysihtml5();
    $('[data-form=kompetensi]').wysihtml5();

    // gallery setup
    $('.gallery-selector').change(function(){
        checked = $(this).attr('checked');
        checked = (checked == undefined) ? false : true ;
        
        $('input.selecter, .gallery-selector').attr('checked', checked);
        $.uniform.update('.gallery-selector');
        
        // toggle class for thumbnail
        thumbnail = $('input.selecter').attr('checked', checked).next();
        if(checked == true){
            thumbnail.addClass('active');
        }
        else{
            thumbnail.removeClass('active')
        }
    });
    
    $('.thumbnail-control .controls').click(function(e){
        selecter = $(this).parent().parent().prev();
        checked  = selecter.attr('checked');
        if(checked == undefined){
            checked = true;
        }
        else{
            checked = false;
            $('.gallery-selector').attr('checked', checked);
            $.uniform.update('.gallery-selector');
        }
        
        $(selecter).attr('checked', checked);
        thumbnail = $(selecter).next();
        if(e.target.nodeName == 'DIV'){
            thumbnail.toggleClass('active');
        }
    });
                    
    // prettyPhoto
    $("a[rel^='prettyPhoto']").prettyPhoto();
    $('#form-validate').validate();
    $('#form-gallery').validate();

    $('#prodi_bidang').autocomplete({
      serviceUrl: '/prodi_bidangs_stream.json',
      onSelect: function (suggestion) {
        $("#prodi_bidang_id").val(suggestion.data);
      }
    });

    $('#kota').autocomplete({
      serviceUrl: '/kotas_stream.json',
      onSelect: function (suggestion) {
        $("#kota_id").val(suggestion.data);
      }
    });

    $('#nama_pt').autocomplete({
      serviceUrl: '/univs_stream.json',
      onSelect: function (suggestion) {
        $("#univ_id").val(suggestion.data);
      }
    });
    
  });