- provide(:title, 'Pencarian Program Studi')
.row
  .large-9.columns
    .row
      .large-12.columns
        %p.result-number Ditemukan #{ @prodis.count } Hasil Pencarian

    .row.search-result
      .large-12.columns
        - @prodis.each do |prodi|
          %article
            .row
              .small-5.large-5.columns
                = image_tag(prodi.featured_image_url(:thumb), :alt => "Gambar belum tersedia", :onerror => "this.src='/assets/default.jpg';")
              .small-7.large-7.columns
                %h6.entry-header= link_to prodi.jenjang_prodi.jenjang.empty? ? "#{ prodi.nama_prodi }" : "#{ prodi.jenjang_prodi.jenjang } - #{ prodi.nama_prodi.titleize }", univ_prodi_path(prodi.univ, prodi)
                %h6.entry-sub-header= link_to prodi.univ.nama_pt.titleize, univ_path(prodi.univ)
                %p.entry-place
                  - if prodi.kota.present?
                    #{ prodi.kota.kota.titleize }, #{ prodi.kota.provinsi.provinsi.titleize }
                %p.entry-text= prodi.profile
                .entry-more
                  = link_to "Read More", univ_prodi_path(prodi.univ, prodi), :class => "tiny button read-more-button left"
                  %p.entry-link.right
                    - if prodi.website.present? && prodi.email.present?
                      %span= link_to prodi.website, prodi.website, :target => "_blank"
                      %span.entry-link-separator &#x20;|
                      %span= mail_to prodi.email, prodi.email
                    - elsif prodi.email.present?
                      %span= link_to prodi.website, prodi.website, target: "_blank"
                    - elsif prodi.email.present?
                      %span= mail_to prodi.email, prodi.email

        = will_paginate @prodis, :renderer => PaginationListLinkRenderer, :class => "pagination-centered" 
  = render :partial => "layouts/sidebar"
