<h1>Listing prodis</h1>

<table>
  <tr>
    <th>Nama prodi</th>
    <th>Jenjang</th>
    <th>Tahun berdiri</th>
    <th>Alamat</th>
    <th>Telepon</th>
    <th>Email</th>
    <th>Website</th>
    <th>Profile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prodis.each do |prodi| %>
  <tr>
    <td><%= prodi.nama_prodi %></td>
    <td><%= prodi.jenjang %></td>
    <td><%= prodi.tahun_berdiri %></td>
    <td><%= prodi.alamat %></td>
    <td><%= prodi.telepon %></td>
    <td><%= prodi.email %></td>
    <td><%= prodi.website %></td>
    <td><%= prodi.profile %></td>
    <td><%= link_to 'Show', prodi %></td>
    <td><%= link_to 'Edit', edit_prodi_path(prodi) %></td>
    <td><%= link_to 'Destroy', prodi, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prodi', new_prodi_path %>
