<% provide(:title, 'Pencarian Jurusan') %>
<header class="jumbotron subhead" id="overview">
   <div class="container well">
      <%= form_tag(prodis_path, :method => "get", :class => 'form-inline') do %>
         <fieldset>
            <legend>Pencarian Jurusan</legend>
            <br />
            <%= text_field_tag(:keyword_prodi, "", :placeholder => 'Type something') %>
            <%= select_tag "provinsi_id", options_from_collection_for_select(@provinsis, :id, :provinsi), 
            :prompt => "Semua Provinsi" %>
            <%= select_tag "jenjang_prodi_id", options_from_collection_for_select(@jenjang_prodis, :id, :jenjang), :prompt => "Semua Jenjang" %>
            <button id="search_prodi" type="submit" class="btn">Cari</button>
         </fieldset>
      <% end %>
   </div>
</header>
<div class="container">
   <div style="padding: 10px; padding-bottom: 0px;"></div>
   <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Ditemukan <%= @prodis.count %> hasil pencarian
   </div>
   <div class="row">
      <div class="span12">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#global" data-toggle="tab">Hasil Pencarian</a></li>
            <li class="pull-right">
               <button type="submit" class="btn" onClick="#myModal">Filter & Shorting</button>  
            </li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="global">
               <div class="span10">
                  <% @prodis.each do |prodi| %>
                  <div class="row">
                     <div class="span2"><%= link_to image_tag(prodi.logo_path, :alt => "Prodi Logo", :onerror => "this.src='/assets/default.jpg';"), prodi_path(prodi), :class => "thumbnail" %></div>
                     <div class="span6">
                        <h4><%= prodi.jenjang_prodi.jenjang %> - <%= prodi.nama_prodi %></h4>
                        <h5><%= prodi.univ.nama_pt.present? ? prodi.univ.nama_pt : "-" %></h5>
                        <%= prodi.kota.kota.capitalize %>, <%= prodi.kota.provinsi.provinsi.capitalize %>
                        <p> <i class="icon-home glyphw"></i> <%= prodi.telepon.present? ? prodi.telepon : "-" %><br>
                           <i class="icon-envelope glyphw"></i> <%= prodi.email.present? ? prodi.email : "-" %> 
                        </p>
                     </div>
                  </div>
                  <% end %>
                  <%= will_paginate @prodis, :renderer => BootstrapPagination::Rails %>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<hr>