<% provide(:title, 'Pencarian Program Studi') %>
<div class="row">
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <p class="result-number">Ditemukan <%= @prodis.count %> Hasil Pencarian</p>
      </div>
    </div>
    <div class="row search-result">
      <div class="large-12 columns">
        <% @prodis.each do |prodi| %>
        <article>
          <div class="row">
            <div class="small-5 large-5 columns">
              <%= image_tag(prodi.featured_image_url(:thumb), :alt => "Gambar belum tersedia", :onerror => "this.src='/assets/default.jpg';") %> 
            </div>
            <div class="small-7 large-7 columns">
              <h6 class="entry-header"><%= link_to prodi.nama_prodi, univ_prodi_path(prodi.univ, prodi) %></h6>
              <h6 class="entry-sub-header"><%= link_to prodi.univ.nama_pt.titleize, univ_path(prodi.univ) %></h6>              
              <p class="entry-place">
                <% if prodi.kota.present? %>
                  <%= prodi.kota.kota.titleize %>, <%= prodi.kota.provinsi.provinsi.titleize %>
                  <% end %>
              </p>
              <p class="entry-text"><%= prodi.profile %></p>
              <div class="entry-more">
                <%= link_to "Read More", univ_prodi_path(prodi.univ, prodi), :class => "tiny button read-more-button left" %>
                <p class="entry-link right">
                   <% if prodi.website.present? && prodi.email.present? %>
                     <span><%= link_to prodi.website, prodi.website, :target => "_blank" %></span>
                     <span class="entry-link-separator">|</span>
                     <span><%= mail_to prodi.email, prodi.email %></span>
                  <% elsif prodi.email.present? %>
                    <span><%= mail_to prodi.email, prodi.email %></span>
                  <% elsif prodi.email.present? %>
                    <span><%= mail_to prodi.email, prodi.email %></span>
                  <% end %>
                 </p>
              </div>
            </div>
          </div>
        </article>
        <% end %>
        <%= will_paginate @prodis, :renderer => PaginationListLinkRenderer, :class => "pagination-centered" %>
      </div>
    </div>
  </div>
  <%= render :partial => "layouts/sidebar" %>
</div>
