<% provide(:title, 'List Jurusan') %>
<%
=begin 
%>
link_to new_prodi_path do %><button class="btn btn-primary"><i class="icon-plus-sign glyphw-white"></i> Add New</button><% end %> 
<%
=end 
%>

<div class="container">
  <%= form_tag(prodis_list_path, :method => "get", :class => 'form-inline') do %>
    <%= text_field_tag(:keyword_prodi, "", :class => 'input-xlarge', :placeholder => 'Pencarian..') %>
  <% end %>
</div>


<table class="table table-striped table-bordered">
   <thead>
      <tr>
         <th>No.</th>
         <th>Nama Prodi</th>
         <th>Nama PT</th>
         <th>Provinsi</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
   		<% no = @prodis.offset %>
      <% @prodis.each do |prodi| %>
      <tr>
         <td><%= no += 1 %>.</td>
         <td><%= prodi.nama_prodi %></td>
         <td><%= prodi.univ.nama_pt %></td>
         <td><%= prodi.kota.present? ? prodi.kota.provinsi.provinsi : "-Unknown Provinsi-" %></td>
         <td>
         	<div class="btn-group pull-right">
              <%= link_to edit_univ_prodi_path(prodi.univ, prodi), :role => "button", :class => "btn btn-info" do %><i class="icon-edit glyphw"></i> Edit <% end %>
             <%= link_to "/admin/univs/#{prodi.univ.id}/prodis/#{prodi.id}", method: :delete, :role => "button", :class => "btn btn-danger" do %><i class="icon-trash glyphw"></i> Hapus <% end %>
          </div>
         </td>
      </tr>
      <% end %>
   </tbody>
</table>
<%= will_paginate @univs, :renderer => BootstrapPagination::Rails %>
