- provide(:title, "Data Program Studi")
.row-fluid
  %a.btn.btn-info.btn-small.small-margin-bottom{:href => "#{ new_univ_prodi_path(0) }"} Tambah Program Studi
  = form_tag(prodis_list_path, :method => "get") do
    = text_field_tag(:keyword, "", :class => 'span3', :placeholder => 'Pencarian..')
%div{:style => "clear:both"}
.relativeWrap
  .widget.widget-gray.widget-gray-white
    .widget-head
      %h4.heading Data Program Studi
    .widget-body.center
      %table.table.table-striped.table-bordered.table-primary.table-condensed{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %thead
          %tr
            %th.center{:width => "30"} Kode
            %th{:width => "150"} Jenjang
            %th{:width => "150"} Nama Prodi
            %th{:width => "150"} Perguruan Tinggi
            %th{:width => "150"} Provinsi
            %th{:width => "50"}
        %tbody
          - @prodis.each do |prodi|
            %tr
              %td.center= prodi.id
              %td= prodi.jenjang_prodi.jenjang
              %td= prodi.nama_prodi
              %td= prodi.univ.nama_pt
              %td= prodi.kota.present? ? prodi.kota.provinsi.provinsi : "-Unknown Provinsi-"
              %td.center.actions
                %a.btn-action.glyphicons.pencil.btn-success{:href => "#{ edit_univ_prodi_path(prodi.univ, prodi) }"}
                  %i
                %a.btn-action.glyphicons.remove_2.btn-danger{:href => "/admin/univs/#{prodi.univ.id}/prodis/#{prodi.id}", method: :delete}
                  %i
      = will_paginate @prodis, :renderer => BootstrapPagination::Rails
    