<div class="container-fluid page-header">
   <div class="row-fluid">
      <div class="span7 offset1">
         <h2><%= @prodi.nama_prodi %></h2>
         <h4><%= @prodi.kota.kota %>, <%= @prodi.kota.provinsi.provinsi %></h4>
      </div>
      <div class="span2"> <a href="#" class="thumbnail"><%= image_tag(@prodi.logo_path, :alt => "Prodi Logo") %></a> </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="span8">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
            <li><a href="#prospektus" data-toggle="tab">Prospektus Jurusan</a></li>
            <li><a href="#silabus" data-toggle="tab">Silabus Pendidikan</a></li>
            <li><a href="#lain" data-toggle="tab">Lain-lain</a></li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="profile">
               <div class="accordion">
                  <div class="accordion-group">
                     <div class="accordion-heading">
                        <span class="accordion-toggle"><strong>Data Kampus</strong>
                        <a class="btn pull-right" data-toggle="collapse" data-parent="#accordion2" href="#keterangan">Lihat Detail</a>
                        </span> 
                     </div>
                     <div id="keterangan" class="accordion-body collapse in">
                        <div class="accordion-inner">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <td>Status</td>
                                    <td><%= @prodi.jenjang_prodi.jenjang %></td>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>Fakultas</td>
                                    <td><%= @prodi.fakultas %></td>
                                 </tr>
                                 <tr>
                                    <td>Tahun Berdiri</td>
                                    <td><%= @prodi.tahun_berdiri %></td>
                                 </tr>
                                 <tr>
                                    <td>Jumlah Mahasiswa</td>
                                    <td><%= @prodi.jumlah_mahasiswa %></td>
                                 </tr>
                                 <tr>
                                    <td>Alamat</td>
                                    <td><%= @prodi.alamat %>, <%= @prodi.kota.kota %>
                                 </tr>
                                 <tr>
                                    <td>Telepon</td>
                                    <td><%= @prodi.telepon %></td>
                                 </tr>
                                 <tr>
                                    <td>Email</td>
                                    <td><%= @prodi.email %></td>
                                 </tr>
                                 <tr>
                                    <td>Website</td>
                                    <td><%= @prodi.website %></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group">
                     <div class="accordion-heading"> 
                        <span class="accordion-toggle"><strong>Deskripsi</strong>
                        <a class="btn pull-right" data-toggle="collapse" data-parent="#accordion2" href="#deskripsi">Lihat Detail</a>
                        </span> 
                     </div>
                     <div id="deskripsi" class="accordion-body collapse">
                        <div class="accordion-inner">
                           <p><%= @prodi.profile %></p>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group">
                     <div class="accordion-heading"> 
                        <span class="accordion-toggle"><strong>Bidang Studi</strong>
                        <a class="btn pull-right" data-toggle="collapse" data-parent="#accordion2" href="#visimisi">Lihat Detail</a>
                        </span> 
                     </div>
                     <div id="visimisi" class="accordion-body collapse">
                        <div class="accordion-inner">
                           <p><%= @prodi.bidang_studi %></p>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group">
                     <div class="accordion-heading"> 
                        <span class="accordion-toggle"><strong>Kompetensi</strong>
                        <a class="btn pull-right" data-toggle="collapse" data-parent="#accordion2" href="#staff">Lihat Detail</a>
                        </span> 
                     </div>
                     <div id="staff" class="accordion-body collapse">
                        <div class="accordion-inner">
                           <p><%= @prodi.kompetensi %></p>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group">
                     <div class="accordion-heading"> 
                        <span class="accordion-toggle"><strong>Staff Pendukung</strong>
                        <a class="btn pull-right" data-toggle="collapse" data-parent="#accordion2" href="#kapasitas-akademik">Lihat Detail</a>
                        </span> 
                     </div>
                     <div id="kapasitas-akademik" class="accordion-body collapse">
                        <div class="accordion-inner">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <td><%= @prodi.total_dosen_prof %> Dosen Professor</td>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td><%= @prodi.total_dosen_doktor %> Dosen Doktor</td>
                                 </tr>
                                 <tr>
                                    <td><%= @prodi.total_dosen_master %> Dosen Master</td>
                                 </tr>
                                 <tr>
                                    <td><%= @prodi.total_dosen_sarjana %> Dosen Sarjana</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group">
                     <div class="accordion-heading"> 
                        <span class="accordion-toggle"><strong>Seleksi Masuk</strong>
                        <a class="btn pull-right" data-toggle="collapse" data-parent="#accordion2" href="#seleksi-masuk">Lihat Detail</a>
                        </span> 
                     </div>
                     <div id="seleksi-masuk" class="accordion-body collapse">
                        <div class="accordion-inner">
                           <p><%= @prodi.seleksi_masuk %></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="gallery">
               <div id="myCarousel" class="carousel slide">
                  <ol class="carousel-indicators">
                     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                     <li data-target="#myCarousel" data-slide-to="1"></li>
                     <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <% @prodi.prodi_galleries.each do |gallery| %>
                     <div class="item active">
                        <%= image_tag(gallery.path, :alt => "Image Galleries") %>
                        <div class="carousel-caption">
                           <h4><%= gallery.caption %></h4>
                           <p><%= gallery.description %></p>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
               <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a> 
               <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> 
            </div>
            <div class="tab-pane" id="prospektus">
               Prospektus Jurusan
            </div>
            <div class="tab-pane" id="silabus">
               Prospektus Jurusan
            </div>
            <div class="tab-pane" id="lain">
               <div class="accordion">
                  <div class="accordion-group">
                     <div class="accordion-heading"> 
                        <span class="accordion-toggle"><strong>Fasilitas</strong>
                        <a class="btn pull-right" data-toggle="collapse" data-parent="#accordion2" href="#fasilitas">Lihat Detail</a>
                        </span> 
                     </div>
                     <div id="biaya" class="accordion-body collapse">
                        <div class="accordion-inner">
                           <table class="table">
                              <thead>
                                <% @prodi.prodi_fasilitases.each do |fasilitas| %>
                                 <tr>
                                    <td><%= fasilitas.fasilitas %></td>
                                 </tr>
                                 <% end %>
                              </thead>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group">
                     <div class="accordion-heading"> 
                        <span class="accordion-toggle"><strong>Biaya</strong>
                        <a class="btn pull-right" data-toggle="collapse" data-parent="#accordion2" href="#biaya">Lihat Detail</a>
                        </span> 
                     </div>
                     <div id="biaya" class="accordion-body collapse">
                        <div class="accordion-inner">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <td>Nilai</td>
                                    <td>Biaya</td>
                                 </tr>
                              </thead>
                              <tbody>
                                <% @prodi.prodi_biaya.each do |biaya| %>
                                 <tr>
                                    <td><%= biaya.nilai %></td>
                                    <td><%= biaya.biaya %></td>
                                 </tr>
                                 <% end %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group">
                     <div class="accordion-heading">
                        <span class="accordion-toggle"><strong>Prestasi</strong>
                        <a class="btn pull-right" data-toggle="collapse" data-parent="#accordion2" href="#prestasi">Lihat Detail</a>
                        </span> 
                     </div>
                     <div id="prestasi" class="accordion-body collapse in">
                        <div class="accordion-inner">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <td>Tahun</td>
                                    <td>Prestasi</td>
                                 </tr>
                              </thead>
                              <tbody>
                                <% @prodi.prodi_prestasis.each do |prestasi| %>
                                 <tr>
                                    <td><%= prestasi.tahun %></td>
                                    <td><%= prestasi.prestasi %></td>
                                 </tr>
                                 <% end %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<hr>