<% provide(:title, @prodi.nama_prodi) %>
 <div class="row">
   <div class="large-9 columns">        
     <div class="row highlight">
       <div class="large-12 columns">
         <div class="left-highlight">
           <%= image_tag @prodi.logo_url(:thumb), :alt => "Gambar belum tersedia", :onerror => "this.src='/assets/default.jpg';"%>
         </div>
         <div class="right-highlight">
           <h4 class="post-header-prodi">
               <%= @prodi.nama_prodi.titleize %>
           </h4>
           <h5 class="post-sub-header-prodi">
               <%= @prodi.univ.nama_pt.titleize %>
           </h5>
           <p class="post-author">
             Last updated - <span><%= @prodi.updated_at %></span>
           </p>
         </div>
       </div>
     </div>
     <div class="row gallery">
       <div class="large-12 columns">
         <% if @prodigalleries.present? %>
         <div id="rg-gallery" class="rg-gallery">
           <div class="rg-thumbs">
             <!-- Elastislide Carousel Thumbnail Viewer -->
             <div class="es-carousel-wrapper">
               <div class="es-nav">
                 <span class="es-nav-prev">Previous</span>
                 <span class="es-nav-next">Next</span>
               </div>
               <div class="es-carousel">
                 <ul>
                  <% foreach @prodigalleries do |gallery| %>
                   <li>
                     <%= link_to image_tag(gallery.image_url(:thumb), :alt => "Gambar belum tersedia", :data => {:large => gallery.image_url, :description => gallery.caption }), "#" %>
                   </li>
                   <% end %>
                 </ul>
               </div>
             </div>
             <!-- End Elastislide Carousel Thumbnail Viewer -->
           </div><!-- rg-thumbs -->
         </div><!-- rg-gallery -->
         <% end %>
       </div>
     </div>
     <div class="row profile">
       <div class="large-12 columns">
         <div class="row profile-panel">
           <div class="large-12 columns">
             <ul class="button-group">
               <li><a href="#" class="small button">Profil</a></li>
               <li><a href="#" class="small button">Gallery</a></li>
               <li><a href="#" class="small button">Prospectus</a></li>
               <li><a href="#" class="small button">Lain-lain</a></li>
               <li><a href="<%= @prodi.facebook %>" class="small button profile-fb">&nbsp</a></li>
               <li><a href="<%= @prodi.twitter %>" class="small button profile-twitter">&nbsp</a></li>
               <li><a href="<%= @prodi.youtube %>" class="small button profile-youtube">&nbsp</a></li>
               <li><a href="#" class="small button button-fixer">&nbsp</a></li>
             </ul>
             <div class="profile-panel-shadow">
               
             </div>
           </div>
         </div>
         <div class="row information">
           <div class="large-12 columns">
             <h5 class="information-title">Keterangan</h5>
             <form>
               <fieldset>
                 <div class="row">
                     <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Jenjang</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<%= @prodi.jenjang_prodi.jenjang %> <%= @prodi.jenjang_prodi.keterangan.present? ? "- #{@prodi.jenjang_prodi.keterangan}" : "" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Tahun Berdiri</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp; <%= @prodi.tahun_berdiri.present? ? @prodi.tahun_berdiri : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Alamat</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp; <%= @prodi.alamat.present? ? @prodi.alamat : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Email</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp; <%= mail_to @prodi.email, @prodi.email.present? ? @prodi.email : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Website</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp; <%= link_to @prodi.website, @prodi.website.present? ? @prodi.website : "-", :target => "_blank" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Telephone</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp; <%= @prodi.telepon.present? ? @prodi.telepon : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
               </fieldset>
             </form>
           </div>
         </div>
         <div class="row description">
           <div class="large-5 columns">
             <%= image_tag @prodi.logo_url(:thumb), :alt => "Gambar belum tersedia", :onerror => "this.src='/assets/default.jpg';"%>
           </div>
           <div class="large-7 columns">
             <h5 class="description-title">Deskripsi</h5>
             <p class="description-text"><%= @prodi.profile.present? ? @prodi.profile : "- belum ada deskripsi -" %></p>
           </div>
         </div>
       </div>            
     </div>
   </div>
   <%= render :partial => "layouts/sidebar" %>
 </div>
