%header
  %nav
    %ul
      %li
        %a{ href: "#", class: "navigation-search-icon-fix" }
          %img{ src: "/assets/front/compare/navigation-search-icon.png"} &nbsp;
      %li= link_to "Home", home_path
      %li= link_to "Ranking", ranking_path
      %li= link_to "Perguruan Tinggi", univs_path
      %li= link_to "Program Studi", prodis_path
      %li= link_to "Login", login_path