.row-fluid
  .span12
    .box.corner-all
      .box-header.grd-white.corner-top
        .header-control
          %a{"data-box" => "collapse"}
            %i.icofont-caret-up
          %a{"data-box" => "close", "data-hide" => "bounceOutRight"} &times;
        %span= yield(:title)
      .box-body
        = form_for @prodi_bidang, :html => {:class => "form-horizontal", :id => "form-validate", :novalidate => "novalidate" } do |f|
          - if @prodi_bidang.errors.any?
            .alert.alert-error
              %button.close{"data-dismiss" => "alert", :type => "button"} &times;
              %div
                - @prodi_bidang.errors.full_messages.each do |msg|
                  = msg
                  %br
          .control-group
            %label.control-label{:for => "required"} Nama Bidang
            .controls
              = f.text_field :nama_bidang, :id => "required", :id => "nama_bidang", :class => "grd-white", :placeholder => "ex. Akuntansi", :data => {:validate => "{required: true, messages:{required:'Nama Bidang Prodi harus diisi'}}"}
          .control-group
            %label.control-label{:for => "inputSelect"} Level
            .controls
              = f.text_field :level, :id => "required", :id => "level", :class => "grd-white", :placeholder => "ex. 5", :data => {:validate => "{required: true, messages:{required:'Level Bidang Prodi harus diisi'}}"}
          .control-group
            %label.control-label{:for => "inputEditorSimple"} Deskripsi
            .controls
              = f.text_area :deskripsi, :id => "deskripsi", :class => "span10", :rows => "8", :data => {:form => "deskripsi"}, :placeholder => "Isikan deskripsi ..."
          .control-group
            %label.control-label{:for => "inputEditorSimple"} Lapangan Kerja
            .controls
              = f.text_area :lapangan_kerja, :id => "lapangan_kerja", :class => "span10", :rows => "8", :data => {:form => "lapangan_kerja"}, :placeholder => "Isikan lapangan_kerja ..."
          .form-actions
            %button.btn.btn-primary{:type => "submit"} Save
            %button.btn{:onclick => "history.go(-1);", :type => "button"} Cancel
      / /box-body
    / /box
  / /span
:javascript
  $(document).ready(function() {
    // try your js
    
    // peity chart
    $("span[data-chart=peity-bar]").peity("bar");

    // uniform
    $('[data-form=uniform]').uniform();

    //wysisyg
    $('[data-form=deskripsi]').wysihtml5();
    $('[data-form=lapangan_kerja]').wysihtml5();

    // select2
    $('#form-validate').validate();
  });