.row-fluid
  .span12
    = form_for @prodi_bidang, :html => {:class => "form-horizontal"} do |f|
      - if @prodi_bidang.errors.any?
        .alert.alert-error
          %button.close{"data-dismiss" => "alert", :type => "button"} &times;
          %div
            - @prodi_bidang.errors.full_messages.each do |msg|
              = msg
              %br
      .tab-content{:style => "padding: 0;"}
        #account-details.tab-pane.active
          .widget.widget-2
            .widget-head
              %h4.heading.glyphicons.pencil
                %i>
                #{ yield(:title) }
            .widget-body{:style => "padding-bottom: 0;"}
              .row-fluid
                .span6
                  .control-group
                    %label.control-label Jenis
                    .controls
                      = f.text_field :nama_bidang, :id => "required", :id => "nama_bidang", :class => "span10", :placeholder => "ex. Akuntansi"
                      %span.btn-action.single.glyphicons.circle_question_mark{"data-content" => "First name is mandatory", "data-original-title" => "Help", "data-placement" => "top", :rel => "popover", :style => "margin: 0;"}
                        %i
                  .control-group
                    %label.control-label Spesialisasi
                    .controls
                      = f.text_area :spesialisasi, :id => "spesialisasi", :class => "span12", :rows => "5", :placeholder => "Isikan spesialisasi ..."
                  .control-group
                    %label.control-label Deskripsi
                    .controls
                      = f.text_area :gambaran, :id => "gambaran", :class => "span12", :rows => "5", :placeholder => "Isikan gambaran ..."
                  .control-group
                    %label.control-label Pilihan Karier
                    .controls
                      = f.text_area :pilihan_karir, :id => "pilihan_karir", :class => "span12", :rows => "5", :placeholder => "Isikan pilihan karir ..."
                  .control-group
                    %label.control-label Keterampilan Kunci
                    .controls
                      = f.text_area :keterampilan_kunci, :id => "keterampilan_kunci", :class => "span12", :rows => "5", :placeholder => "Isikan keterampilan kunci ..."
              .form-actions{:style => "margin: 0;"}
                %button.btn.btn-icon.btn-primary.glyphicons.circle_ok{:type => "submit"}
                  %i>
                  Save
                %button.btn.btn-icon.btn-default.glyphicons.circle_remove{:onclick => "history.go(-1);", :type => "button"}
                  %i>
                  Cancel