<div class="row-fluid">
  <div class="span12">
    <div class="box corner-all">
      <div class="box-header grd-white corner-top">
        <div class="header-control">
          <a data-box="collapse"><i class="icofont-caret-up"></i></a>
          <a data-box="close" data-hide="bounceOutRight">&times;</a>
        </div>
        <span><%= yield(:title) %></span>
      </div>
      <div class="box-body">
        <%= form_for @prodi_bidang, :html => {:class => "form-horizontal", :id => "form-validate", :novalidate => "novalidate" } do |f| %>
          <% if @prodi_bidang.errors.any? %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <div>
                <% @prodi_bidang.errors.full_messages.each do |msg| %>
                  <%= msg %><br>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="control-group">
            <label class="control-label" for="required">Nama Bidang</label>
            <div class="controls">
              <%= f.text_field :nama_bidang, :id => "required", :id => "nama_bidang", :class => "grd-white", :placeholder => "ex. Akuntansi", :data => {:validate => "{required: true, messages:{required:'Nama Bidang Prodi harus diisi'}}"} %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputSelect">Level</label>
            <div class="controls">
              <%= f.text_field :level, :id => "required", :id => "level", :class => "grd-white", :placeholder => "ex. 5", :data => {:validate => "{required: true, messages:{required:'Level Bidang Prodi harus diisi'}}"} %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEditorSimple">Deskripsi</label>
            <div class="controls">
              <%= f.text_area :deskripsi, :id => "deskripsi", :class => "span10", :rows => "8", :data => {:form => "deskripsi"}, :placeholder => "Isikan deskripsi ..." %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEditorSimple">Lapangan Kerja</label>
            <div class="controls">
              <%= f.text_area :lapangan_kerja, :id => "lapangan_kerja", :class => "span10", :rows => "8", :data => {:form => "lapangan_kerja"}, :placeholder => "Isikan lapangan_kerja ..." %>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn" onclick="history.go(-1);">Cancel</button>
          </div>
        <% end %>
      </div><!-- /box-body -->
    </div><!-- /box -->
  </div><!-- /span -->
</div>
<script type="text/javascript">
  $(document).ready(function() {
    // try your js
    
    // peity chart
    $("span[data-chart=peity-bar]").peity("bar");

    // uniform
    $('[data-form=uniform]').uniform();

    //wysisyg
    $('[data-form=deskripsi]').wysihtml5();
    $('[data-form=lapangan_kerja]').wysihtml5();

    // select2
    $('#form-validate').validate();
  });
</script>