.row-fluid
  .span12
    = form_for @jenjang_prodi, html: { class: "form-horizontal" } do |f|
      - if @jenjang_prodi.errors.any?
        .alert.alert-error
          %button.close{ "data-dismiss" => "alert", type: "button" } &times;
          %div
            - @jenjang_prodi.errors.full_messages.each do |msg|
              = msg
              %br
      .tab-content{:style => "padding: 0;"}
        #account-details.tab-pane.active
          .widget.widget-2
            .widget-head
              %h4.heading.glyphicons.pencil
                %i>
                #{ yield(:title) }
            .widget-body{:style => "padding-bottom: 0;"}
              .row-fluid
                .span6
                  .control-group
                    %label.control-label Jenjang
                    .controls
                      = f.text_field :jenjang, id: "jenjang", class: "span10"
                      %i
                  .control-group
                    %label.control-label Keterangan
                    .controls
                      = f.text_field :keterangan, id: "keterangan", class: "span10"
                      %i
              .form-actions{:style => "margin: 0;"}
                %button.btn.btn-icon.btn-primary.glyphicons.circle_ok{:type => "submit"}
                  %i>
                  Save
                %button.btn.btn-icon.btn-default.glyphicons.circle_remove{ onclick: "history.go(-1);", :type => "button" }
                  %i>
                  Cancel