- provide(:title, "Data Jenjang Program Studi")
%a.btn.btn-info.btn-small.small-margin-bottom{:href => "#{ new_jenjang_prodi_path }"} Tambah Jenjang Program Studi
.relativeWrap
  .widget.widget-gray.widget-gray-white
    .widget-head
      %h4.heading Data Jenjang Program Studi
    .widget-body
      %table.dynamicTable.table.table-striped.table-bordered.table-primary.table-condensed{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %thead
          %tr
            %th{:width => "350"} Jenjang Prodi
            %th{:width => "350"} Keterangan
            %th{:width => "50"} &nbsp;
        %tbody
          - @jenjang_prodis.each do |jenjang_prodi|
            %tr.gradeX
              %td= jenjang_prodi.jenjang
              %td= jenjang_prodi.keterangan
              %td.center.actions
                %a.btn-action.glyphicons.pencil.btn-success{:href => "#{ edit_jenjang_prodi_path(jenjang_prodi) }"}
                  %i
                %a.btn-action.glyphicons.remove_2.btn-danger{:href => "#{ jenjang_prodi_path(jenjang_prodi) }", :method => :delete}
                  %i
