- provide(:title, "Data Jenjang Program Studi")
.row-fluid
  .span12
    = link_to "Tambah Jenjang Program Studi", new_jenjang_prodi_path, role: "button", class: "btn btn-mini btn-primary"
.row-fluid
  .row-fluid
    .span12
      .box.corner-all
        .box-header.grd-white.corner-top
          .header-control
            %a{ "data-box" => "collapse" }
              %i.icofont-caret-up
            %a{ "data-box" => "close", "data-hide" => "bounceOutRight" } &times;
          %span Data Jenjang Prodi
        .box-body
          %table#datatables.table.table-hover.responsive
            %thead
              %tr
                %th Jenjang Prodi
                %th Keterangan
                %th &nbsp;
            %tbody
              - @jenjang_prodis.each do |jenjang_prodi|
                %tr
                  %td= jenjang_prodi.jenjang
                  %td= jenjang_prodi.keterangan
                  %td.center
                    %span.label.label-info
                      = link_to "Edit", edit_jenjang_prodi_path(jenjang_prodi)
                    %span.label.label-important
                      = link_to "Delete", jenjang_prodi_path(jenjang_prodi), method: :delete, class: "delete"

  :javascript
    $(document).ready(function() {        
        // peity chart
        $("span[data-chart=peity-bar]").peity("bar");
        
        // datatables
        $('#datatables').dataTable( {
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
            }
        });

        $('.delete').on('click', function () {
            return confirm('Anda yakin akan menghapus data ini?');
        });
    });