<% provide(:title, "Jenis Perguruan Tinggi") %>
<%= link_to new_jenis_pt_path do %><button class="btn btn-primary"><i class="icon-plus-sign glyphw-white"></i> Add New</button><% end %>
<div style="padding: 15px; padding-bottom: 0px;"></div>
<table class="table table-striped table-bordered">
   <thead>
      <tr>
         <th>No.</th>
         <th>Jenis Perguruan Tinggi</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
   		<% no = 0 %>
      <% @jenis_pts.each do |jenis_pt| %>
      <tr>
         <td><%= no = no + 1 %></td>
         <td><%= jenis_pt.jenis %></td>
         <td>
         	<div class="btn-group pull-right">
              <%= link_to edit_jenis_pt_path(jenis_pt), :role => "button", :class => "btn btn-info" do %><i class="icon-edit glyphw"></i> Edit <% end %>
             <%= link_to jenis_pt_path(jenis_pt), method: :delete, :role => "button", :class => "btn btn-danger" do %><i class="icon-trash glyphw"></i> Hapus <% end %>
          </div>
         </td>
      </tr>
      <% end %>
   </tbody>
</table>