- if params[:action] == "new" || params[:action] == "create"
  - url = "/admin/univs"
- elsif params[:action] == "edit" || params[:action] == "update"
  - url = "/admin/univs/#{@univ.id}"
  
- if flash[:notice]
  .alert.alert-success
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Berhasil!
    = flash[:notice]

= form_for @univ, :url => url, :html => {:class => "form-horizontal", :multipart => true } do |f|
  - if @univ.errors.any?
    .alert.alert-error
      %button.close{"data-dismiss" => "alert", :type => "button"} &times;
      %div
        - @univ.errors.full_messages.each do |msg|
          = msg
          %br
  .tab-content{:style => "padding: 0;"}
    #account-details.tab-pane.active
      .widget.widget-2
        .widget-head
          %h4.heading.glyphicons.edit
            %i>
            #{ yield(:title) }
        .widget-body{:style => "padding-bottom: 0;"}
          .row-fluid
            .span6
              .control-group
                %label.control-label Nama Perguruan Tinggi
                .controls
                  = f.text_field :nama_pt, :class => "span10", :placeholder => "ex. Universitas XYZ"
              .control-group
                %label.control-label Tahun Berdiri
                .controls
                  = f.text_field :tahun_berdiri, :class => "span10", :placeholder => "ex. 1888"
              .control-group
                %label.control-label Status
                .controls
                  = select_tag("univ[status_negeri]", options_for_select([["Perguruan Tinggi Swasta", "swasta"], ["Perguruan Tinggi Negeri", "negeri"]], @univ.status_negeri? ? @univ.status_negeri : "Perguruan Tinggi Swasta"), {:class => "span10"})
              .control-group
                %label.control-label Jenis Perguruan Tinggi
                .controls
                  = collection_select(:univ, :jenis_pt_id, JenisPt.order("jenis ASC"), :id, :jenis, {}, {:class => "span10" })
              .control-group
                %label.control-label Email
                .controls
                  = f.text_field :email, :class => "span10", :placeholder => "ex. user@xyz.com"
              .control-group
                %label.control-label Website
                .controls
                  = f.text_field :website, :class => "span10", :placeholder => "ex. http://xyz.com"
              .control-group
                %label.control-label Alamat
                .controls
                  = f.text_area :alamat, :class => "span9", :rows => "5", :placeholder => "Isikan alamat"
              .control-group
                %label.control-label Kota
                .controls
                  = collection_select(:univ, :kota_id, Kota.order("kota ASC"), :id, :kota, {}, {:class => "span10", :data => {:placeholder => "Pilih Kota"}})
              .control-group
                %label.control-label Telepon
                .controls
                  = f.text_field :telepon, :class => "span10", :placeholder => "Isikan nomor telepon"
              .control-group
                %label.control-label Upload Logo Perguruan Tinggi
                .controls
                  .fileupload.fileupload-new{"data-provides" => "fileupload"}
                    .input-append
                      .uneditable-input.span2
                        %i.icon-file.fileupload-exists
                        %span.fileupload-preview
                      %span.btn.btn-file
                        %span.fileupload-new Select file
                        %span.fileupload-exists Change
                        = f.file_field :logo
                      %a.btn.fileupload-exists{"data-dismiss" => "fileupload", :href => "#"} Remove
                - if @univ.logo_url.present?
                  .controls
                    = image_tag @univ.logo_url(:thumb)
              .control-group
                %label.control-label Upload Featured Image
                .controls
                  .fileupload.fileupload-new{"data-provides" => "fileupload"}
                    .input-append
                      .uneditable-input.span2
                        %i.icon-file.fileupload-exists
                        %span.fileupload-preview
                      %span.btn.btn-file
                        %span.fileupload-new Select file
                        %span.fileupload-exists Change
                        = f.file_field :featured_image
                      %a.btn.fileupload-exists{"data-dismiss" => "fileupload", :href => "#"} Remove
                - if @univ.featured_image_url.present?
                  .controls
                    = image_tag @univ.featured_image_url(:thumb)
          .row-fluid
            .span12
              .control-group
                %label.control-label Deskripsi
                .controls
                  = f.text_area :deskripsi, :class => "span10", :rows => "5", :placeholder => "Isikan deskripsi ..."
              .control-group
                %label.control-label Profil
                .controls
                  = f.text_area :profile, :class => "wysihtml5 span10", :rows => "5", :placeholder => "Isikan profil ..."
              .control-group
                %label.control-label Visi dan Misi
                .controls
                  = f.text_area :visi, :class => "wysihtml5 span10", :rows => "5", :placeholder => "Isikan visi dan misi ..."
              .control-group
                %label.control-label Seleksi Masuk
                .controls
                  = f.text_area :seleksi_masuk, :class => "wysihtml5 span10", :rows => "5", :placeholder => "Isikan deskripsi seleksi masuk ..."
              .control-group
                %label.control-label Kapasitas Akademik
                .controls
                  = f.text_area :kapasitas_akademik, :class => "wysihtml5 span10", :rows => "5", :placeholder => "Isikan kapasitas akademik ..."
              .control-group
                %label.control-label Facebook
                .controls
                  %strong http://facebook.com/
                  = f.text_field :facebook, :class => "span4"
              .control-group
                %label.control-label Twitter
                .controls
                  %strong http://twitter.com/
                  = f.text_field :twitter, :id => "twitter", :class => "span4"
              .control-group
                %label.control-label Youtube
                .controls
                  %strong http://youtube.com/user/
                  = f.text_field :youtube, :id => "youtube", :class => "span4"
          .form-actions{:style => "margin: 0;"}
            %button.btn.btn-icon.btn-primary.glyphicons.circle_ok{:type => "submit"}
              %i>
              Save
            %button.btn.btn-icon.btn-default.glyphicons.circle_remove{:type => "button"}
              %i>
              Cancel

          - if params[:action] == "edit" || params[:action] == "update"
            .form-actions{:style => "margin: 0;"}
              = link_to "Fasilitas PT", univ_univfasilitases_path(@univ), class: "btn btn-inverse"
              = link_to "Kerjasama PT", univ_univkerjasamas_path(@univ), class: "btn btn-inverse"
              = link_to "Biaya PT", univ_univbiayas_path(@univ), class: "btn btn-inverse"
              = link_to "Beasiswa PT", univ_univbeasiswas_path(@univ), class: "btn btn-inverse"
              = link_to "Prestasi PT", univ_univprestasis_path(@univ), class: "btn btn-inverse"

- if params[:action] == "edit" || params[:action] == "update"
  = form_for @univgallery, :html => {:class => "form-horizontal"} do |f|
    - if @univgallery.errors.any?
      .alert.alert-error
        %button.close{"data-dismiss" => "alert", :type => "button"} &times;
        %div
          - @univgallery.errors.full_messages.each do |msg|
            = msg
            %br
    .tab-content{:style => "padding: 0;"}
      #account-details.tab-pane.active
        .widget.widget-2
          .widget-head
            %h4.heading.glyphicons.edit
              %i>
              Update Perguruan Tinggi Galeri
          .widget-body{:style => "padding-bottom: 0;"}
            .row-fluid
              .span6
                .control-group
                  %label.control-label Tambah Galeri
                  .controls
                    .fileupload.fileupload-new{"data-provides" => "fileupload"}
                      .input-append
                        .uneditable-input.span2
                          %i.icon-file.fileupload-exists
                          %span.fileupload-preview
                        %span.btn.btn-file
                          %span.fileupload-new Select file
                          %span.fileupload-exists Change
                          = f.file_field :image
                        %a.btn.fileupload-exists{"data-dismiss" => "fileupload", :href => "#"} Remove
                .control-group
                  %label.control-label Caption
                  .controls
                    = f.text_field :caption, :class => "span10"
                .control-group
                  %label.control-label Deskripsi
                  .controls
                    = f.text_area :description, :rows => "5", :placeholder => "Isikan deskripsi", :class => "span10"
                .form-actions{:style => "margin: 0;"}
                  %button.btn.btn-icon.btn-primary.glyphicons.circle_ok{:type => "submit"}
                    %i>
                    Save
                  %button.btn{:type => "reset"} Reset

            .row-fluid.gallery.paper
              - if @univgalleries.present?
                %ul
                  - @univgalleries.each do |gallery|                    
                    %li.span3
                      %span.thumb.view
                        %span.back
                          %span.btn.btn-mini.btn-primary delete
                          %a.arr{:href => "#{ univgallery_path(gallery) }", method: :delete} &rarr;
                        %img{:alt => "Album", :src => gallery.image_url }/
                      %span.name