<% if params[:action] == "new" || params[:action] == "create" 
    url = "/admin/univs"
  elsif params[:action] == "edit" || params[:action] == "update"
    url = "/admin/univs/#{@univ.id}"
  end                  
%>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Berhasil!</strong> <%= flash[:notice] %>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <div class="box corner-all">
        <div class="box-header grd-white corner-top">
            <div class="header-control">
                <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                <a data-box="close" data-hide="bounceOutRight">&times;</a>
            </div>
            <span><%= yield(:title) %></span>
        </div>
      <div class="box-body">
        <%= form_for @univ, :url => url, :html => {:class => "form-horizontal", :multipart => true, :id => "form-validate", :novalidate => "novalidate" } do |f| %>
          <% if @univ.errors.any? %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <div>
                <% @univ.errors.full_messages.each do |msg| %>
                <%= msg %><br>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="control-group">
            <label class="control-label" for="required">Nama Perguruan Tinggi</label>
            <div class="controls">
              <%= f.text_field :nama_pt, :id => "nama_pt", :class => "grd-white input-xxlarge", :placeholder => "ex. Universitas XYZ", :data => {:validate => "{required: true, messages: {required: 'Nama Perguruan Tinggi harus diisi'}}"} %>
            </div>
          </div>
        <div class="box-body">
            <%= form_for @univ, :url => url, :html => {:class => "form-horizontal", :multipart => true, :id => "form-validate", :novalidate => "novalidate" } do |f| %>
                <% if @univ.errors.any? %>
                   <div class="alert alert-error">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <div>
                         <% @univ.errors.full_messages.each do |msg| %>
                         <%= msg %><br>
                         <% end %>
                      </div>
                   </div>
                <% end %>
                <div class="control-group">
                    <label class="control-label" for="required">Nama Perguruan Tinggi</label>
                    <div class="controls">
                        <%= f.text_field :nama_pt, :id => "nama_pt", :class => "grd-white input-xxlarge", :placeholder => "ex. Universitas XYZ", :data => {:validate => "{required: true, messages: {required: 'Nama Perguruan Tinggi harus diisi'}}"} %>
                    </div>
                </div>
                 <div class="control-group">
            <label class="control-label" for="required">Tahun Berdiri</label>
            <div class="controls">
              <%= f.text_field :tahun_berdiri, :id => "tahun_berdiri", :class => "grd-white", :placeholder => "ex. 1888", :data => {:validate => "{required: true, maxlength: 4, minlength:4, number:true, messages: {required: 'Tahun Berdiri harus diisi', maxlength: 'Tahun berdiri terdiri dari 4 karakter numeric', minlength: 'Tahun berdiri terdiri dari 4 karakter numerik', number: 'Tahun berdiri terdiri dari 4 karakter numerik'}}"} %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputSelect">Status</label>
            <div class="controls">
              <%= select_tag("univ[status_negeri]", options_for_select([["Perguruan Tinggi Negeri", "negeri"], ["Perguruan Tinggi Swasta", "swasta"]]), {:style => "width:200px", :id => "status_pt", :data => {:form => "status"}}) %>
            </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="inputSelect">Jenis Perguruan Tinggi</label>
              <div class="controls">
                <%= collection_select(:univ, :jenis_pt_id, JenisPt.order("jenis ASC"), :id, :jenis, {}, {:style => "width:200px", :id => "jenis_pt", :data => {:form => "jenis_pt", :placeholder => "Pilih Jenis Perguruan Tinggi"}}) %>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="required">Email</label>
              <div class="controls">
                <%= f.text_field :email, :id => "email", :class => "grd-white", :placeholder => "ex. user@xyz.com", :data => {:validate => "{required: true, email:true, messages: {required: 'Email harus diisi', email: 'Format email tidak valid'}}"} %>
              </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="required">Website</label>
            <div class="controls">
              <%= f.text_field :website, :id => "website", :class => "grd-white", :placeholder => "ex. http://xyz.com", :data => {:validate => "{required: true, messages: {required: 'Website harus diisi'}}"} %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="required">Alamat</label>
            <div class="controls">
              <%= f.text_area :alamat, :id => "alamat", :rows => "3", :placeholder => "Isikan alamat" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputSelect">Kota</label>
            <div class="controls">
                <%= collection_select(:univ, :kota_id, Kota.order("kota ASC"), :id, :kota, {}, {:style => "width:200px", :id => "kota", :data => {:form => "kota", :placeholder => "Pilih Kota"}}) %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="required">Telepon</label>
            <div class="controls">
                <%= f.text_field :telepon, :id => "telepon", :class => "grd-white", :placeholder => "Isikan nomor telepon", :data => {:validate => "{required: true, messages: {required: 'Telepon harus diisi'}}"} %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputUpload">Upload Logo Perguruan Tinggi</label>
            <div class="controls">
                <%= f.file_field :logo, :data => {:form => "uniform"} %>
            </div>
            <% if @univ.logo_url.present? %>
              <div class="controls">
                <%= image_tag @univ.logo_url(:thumb) %>
              </div>
            <% end %>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputUpload">Upload Featured Image</label>
            <div class="controls">
                <%= f.file_field :featured_image, :data => {:form => "uniform"} %>
            </div>
            <% if @univ.featured_image_url.present? %>
              <div class="controls">
                  <%= image_tag @univ.featured_image_url(:thumb) %>
              </div>
                <div class="control-group">
                    <label class="control-label" for="inputEditorSimple">Deskripsi</label>
                    <div class="controls">
                        <%= f.text_area :deskripsi, :id => "deskripsi", :class => "span10", :rows => "8", :placeholder => "Isikan deskripsi ..." %>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEditorSimple">Profil</label>
                    <div class="controls">
                        <%= f.text_area :profile, :id => "profil", :class => "span10", :rows => "8", :data => {:form => "profil"}, :placeholder => "Isikan profil ..." %>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEditorSimple">Visi dan Misi</label>
                    <div class="controls">
                        <%= f.text_area :visi, :id => "visi", :class => "span10", :rows => "8", :data => {:form => "visi"}, :placeholder => "Isikan visi dan misi ..." %>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEditorSimple">Seleksi Masuk</label>
                    <div class="controls">
                        <%= f.text_area :seleksi_masuk, :id => "seleksi_masuk", :class => "span10", :rows => "8", :data => {:form => "seleksi"}, :placeholder => "Isikan deskripsi seleksi masuk ..." %>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEditorSimple">Kapasitas Akademik</label>
                    <div class="controls">
                        <%= f.text_area :kapasitas_akademik, :id => "kapasitas_akademik", :class => "span10", :rows => "8", :data => {:form => "kapasitas"}, :placeholder => "Isikan kapasitas akademik ..." %>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="required">Facebook</label>
                    <div class="controls">
                        http://facebook.com/ <%= f.text_field :facebook, :id => "facebook", :class => "grd-white" %>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="required">Twitter</label>
                    <div class="controls">
                        http://twitter.com/<%= f.text_field :twitter, :id => "twitter", :class => "grd-white" %>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="required">Youtube</label>
                    <div class="controls">
                        http://youtube.com/user/<%= f.text_field :youtube, :id => "youtube", :class => "grd-white" %>
                    </div>
                </div>
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            <% end %>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEditorSimple">Deskripsi</label>
            <div class="controls">
                <%= f.text_area :deskripsi, :id => "deskripsi", :class => "span10", :rows => "8", :placeholder => "Isikan deskripsi ..." %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEditorSimple">Profil</label>
            <div class="controls">
                <%= f.text_area :profile, :id => "profil", :class => "span10", :rows => "8", :data => {:form => "profil"}, :placeholder => "Isikan profil ..." %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEditorSimple">Visi dan Misi</label>
            <div class="controls">
                <%= f.text_area :visi, :id => "visi", :class => "span10", :rows => "8", :data => {:form => "visi"}, :placeholder => "Isikan visi dan misi ..." %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEditorSimple">Seleksi Masuk</label>
            <div class="controls">
                <%= f.text_area :seleksi_masuk, :id => "seleksi_masuk", :class => "span10", :rows => "8", :data => {:form => "seleksi"}, :placeholder => "Isikan deskripsi seleksi masuk ..." %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEditorSimple">Kapasitas Akademik</label>
            <div class="controls">
                <%= f.text_area :kapasitas_akademik, :id => "kapasitas_akademik", :class => "span10", :rows => "8", :data => {:form => "kapasitas"}, :placeholder => "Isikan kapasitas akademik ..." %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="required">Facebook</label>
            <div class="controls">
                http://facebook.com/ <%= f.text_field :facebook, :id => "facebook", :class => "grd-white" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="required">Twitter</label>
            <div class="controls">
                http://twitter.com/<%= f.text_field :twitter, :id => "twitter", :class => "grd-white" %>
              </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="required">Youtube</label>
            <div class="controls">
                http://youtube.com/user/<%= f.text_field :youtube, :id => "youtube", :class => "grd-white" %>
              </div>
          </div>          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn">Cancel</button>
          </div>
        <% end %>
      </div><!-- /box-body -->
    </div><!-- /box -->
  </div><!-- /span -->
</div>

<% if params[:action] == "edit" || params[:action] == "update" %>
<div class="row-fluid">
  <div class="span12">
    <div class="box corner-all">
        <div class="box-header grd-white corner-top">
            <div class="header-control">
              <a data-box="collapse"><i class="icofont-caret-up"></i></a>
              <a data-box="close" data-hide="bounceOutRight">&times;</a>
            </div>
          <span>Update Perguruan Tinggi Galeri</span>
        </div>
      <div class="box-body">
        <%= form_for @univgallery, :html => {:id => "form-gallery", :novalidate => "novalidate", :class => "form-horizontal"} do |f| %>
            <% if @univgallery.errors.any? %>
              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div>
                   <% @univgallery.errors.full_messages.each do |msg| %>
                   <%= msg %><br>
                   <% end %>
                </div>
              </div>
            <% end %>
            <div class="control-group">
              <label class="control-label" for="inputUpload">Tambah Gallery</label>
              <div class="controls">
                <%= f.file_field :image, :id => "inputUpload", :data => {:form => "uniform"} %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="required">Caption</label>
              <div class="controls">
                <%= f.text_field :caption, :class => "grd-white", :data => {:validate => "{required: true, messages: {required: 'Caption harus diisi'}}"} %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="required">Deskripsi</label>
              <div class="controls">
                <%= f.text_area :description, :rows => "3", :placeholder => "Isikan deskripsi", :data => {:validate => "{required: true, messages: {required: 'Deskripsi harus diisi'}}"} %>
              </div>
            </div>
            <div class="control-group">
              <% if @univgalleries.present? %>
                <div class="controls">
                  <div class="gallery-content">
                      <ul class="thumbnails" id="portfolio-list">
                        <% @univgalleries.each do |gallery| %>
                          <li class="design">
                              <!-- use checkbox for helper event -->
                            <input class="selecter" type="checkbox" name="item[]" value="1.jpg" />
                            <div class="thumbnail">
                                <%= image_tag(gallery.image_url(:thumb), :alt => gallery.description, :onerror => "this.src='/assets/default.jpg';", :width => "120", :height => "120") %>
                                <div class="thumbnail-control">
                                  <div class="controls">
                                      <a href="<%= gallery.image_url %>" rel="prettyPhoto[gallery]" title="<%= gallery.description%>"><i class="icofont-search"></i></a>
                                      <%= link_to univgallery_path(gallery), method: :delete, :class => "delete" do %> <i class="icofont-trash"></i> <% end %>

                                      <p class="description"><%= gallery.caption %></p>
                                  </div>
                                </div>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                  </div>   
                </div>
              <% end %>
            </div>
            <div class="form-actions">
              <%= f.hidden_field :univ_id, :value => @univ.id %>
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="reset" class="btn">Reset</button>
            </div>
        <% end %>                                        
      </div><!-- /box-body -->
    </div><!-- /box -->
  </div><!-- /span -->
</div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
       // try your js
       // peity chart
    $("span[data-chart=peity-bar]").peity("bar");

    $('.delete').on('click', function () {
      return confirm('Anda yakin akan menghapus data ini?');
    });

    // uniform
    $('[data-form=uniform]').uniform()

    // select2
    $('[data-form=status]').select2();
    $('[data-form=jenis_pt]').select2();
    $('[data-form=kota]').select2();

    // wysihtml5
    $('[data-form=profil]').wysihtml5();
    $('[data-form=visi]').wysihtml5();
    $('[data-form=seleksi]').wysihtml5();
    $('[data-form=kapasitas]').wysihtml5();

    // gallery setup
    $('.gallery-selector').change(function(){
      checked = $(this).attr('checked');
      checked = (checked == undefined) ? false : true ;
       
      $('input.selecter, .gallery-selector').attr('checked', checked);
      $.uniform.update('.gallery-selector');
       
      // toggle class for thumbnail
      thumbnail = $('input.selecter').attr('checked', checked).next();
      if(checked == true){
        thumbnail.addClass('active');
      }
      else{
        thumbnail.removeClass('active')
      }
    });
     
    $('.thumbnail-control .controls').click(function(e){
      selecter = $(this).parent().parent().prev();
      checked  = selecter.attr('checked');
      if(checked == undefined){
        checked = true;
      }
      else{
        checked = false;
        $('.gallery-selector').attr('checked', checked);
        $.uniform.update('.gallery-selector');
      }
       
      $(selecter).attr('checked', checked);
      thumbnail = $(selecter).next();
      if(e.target.nodeName == 'DIV'){
        thumbnail.toggleClass('active');
      }
    });
                     
    // prettyPhoto
    $("a[rel^='prettyPhoto']").prettyPhoto();
    $('#form-validate').validate();
    $('#form-gallery').validate();
  });
</script>