<%= form_for(@univ) do |f| %>
  <% if @univ.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@univ.errors.count, "error") %> prohibited this univ from being saved:</h2>

      <ul>
      <% @univ.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nama_pt %><br />
    <%= f.text_field :nama_pt %>
  </div>
  <div class="field">
    <%= f.label :tahun_berdiri %><br />
    <%= f.number_field :tahun_berdiri %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :alamat %><br />
    <%= f.text_area :alamat %>
  </div>
  <div class="field">
    <%= f.label :telepon %><br />
    <%= f.text_field :telepon %>
  </div>
  <div class="field">
    <%= f.label :status_negeri %><br />
    <%= f.text_field :status_negeri %>
  </div>
  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_area :profile %>
  </div>
  <div class="field">
    <%= f.label :visi %><br />
    <%= f.text_area :visi %>
  </div>
  <div class="field">
    <%= f.label :misi %><br />
    <%= f.text_area :misi %>
  </div>
  <div class="field">
    <%= f.label :seleksi_masuk %><br />
    <%= f.text_area :seleksi_masuk %>
  </div>
  <div class="field">
    <%= f.label :staff_pendukung %><br />
    <%= f.text_area :staff_pendukung %>
  </div>
  <div class="field">
    <%= f.label :kapasitas_akademik %><br />
    <%= f.text_area :kapasitas_akademik %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
