<% provide(:title, 'Update Perguruan Tinggi') %>
<%= form_for @univ, :url => "/admin/univs/#{@univ.id}" do |f| %>
<fieldset>
   <div id="legend">
      <legend class="">Update Perguruan Tinggi</legend>
   </div>
   <% if @univ.errors.any? %>
   <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <div>
         <% @univ.errors.full_messages.each do |msg| %>
         <%= msg %><br>
         <% end %>
      </div>
   </div>
   <% end %>
   <div class="tabbable" style="margin-bottom: 18px;">
      <ul class="nav nav-tabs">
         <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
         <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
         <li><a href="#alumni" data-toggle="tab">Prospektus Alumni</a></li>
         <li><a href="#lain" data-toggle="tab">Lain-lain</a></li>
      </ul>
      <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
         <div class="tab-pane active" id="profile">
            <div class="control-group">
               <%= f.label "Nama Perguruan Tinggi:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_field :nama_pt, :value => @univ.nama_pt, :class => "input-xxlarge", :placeholder => "Nama PT" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Tahun Berdiri:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_field :tahun_berdiri, :value => @univ.tahun_berdiri, :class => "input-medium", :placeholder => "Tahun Berdiri" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Status:", :class => "control-label" %>
               <div class="controls">
                  <%= select_tag("univ[status_negeri]", options_for_select([["Perguruan Tinggi Negeri", "negeri"], ["Perguruan Tinggi Swasta", "swasta"]], :selected => @univ.status_negeri)) %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Jenis PT:", :class => "control-label" %>
               <div class="controls">
                  <%= collection_select(:univ, :jenis_pt_id, JenisPt.all, :id, :jenis, {:selected => @univ.jenis_pt_id}) %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Email:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_field :email, :value => @univ.email, :class => "input-large", :placeholder => "Email" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Website:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_field :website, :value => @univ.website, :class => "input-large", :placeholder => "Website" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Alamat:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_area :alamat, :value => @univ.alamat, :rows => "3", :class => "field span4", :placeholder => "Alamat" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Kota:", :class => "control-label" %>
               <div class="controls">
                  <%= collection_select(:univ, :kota_id, Kota.order("kota asc"), :id, :kota, {:selected => @univ.kota_id}) %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Telepon:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_field :telepon, :value => @univ.telepon, :class => "input-xlarge", :placeholder => "Telepon" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Deskripsi:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_area :deskripsi, :value => @univ.deskripsi, :rows => "6", :class => "field editor", :placeholder => "Deskripsi" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Profile:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_area :profile, :value => @univ.profile, :rows => "6", :class => "field editor", :placeholder => "Profile" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Visi & Misi:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_area :visi, :value => @univ.visi, :rows => "6", :class => "field editor", :placeholder => "Visi" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Seleksi Masuk:", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_area :seleksi_masuk, :value => @univ.seleksi_masuk, :rows => "5", :class => "field editor", :placeholder => "Seleksi Masuk" %>
               </div>
            </div>
            <div class="control-group">
               <%= f.label "Kapasitas Akademik:", :id => "kapasitas_akademik", :class => "control-label" %>
               <div class="controls">
                  <%= f.text_area :kapasitas_akademik, :value => @univ.kapasitas_akademik, :rows => "5", :class => "field editor", :placeholder => "Kapasitas Akademik" %>
               </div>
            </div>
         </div>
         <div class="tab-pane" id="gallery">
            <p>Howdy, I'm in Section 2.</p>
         </div>
         <div class="tab-pane" id="alumni">
            <p>What up girl, this is Section 3.</p>
         </div>
         <div class="tab-pane" id="lain">
            <p>What up girl, this is Section 3.</p>
         </div>
      </div>
   </div>
   <div class="control-group">
      <!-- Button -->
      <div class="controls">
         <button class="btn btn-primary">Save</button>
         <button class="btn" type="reset">Reset</button>
      </div>
   </div>
</fieldset>
<script type="text/javascript">
   $(function() {
      $('.editor').each(function(){
         CKEDITOR.replace( $(this).attr('id') );
      });
   });
</script>
<% end %>