<h1>Listing univs</h1>

<table>
  <tr>
    <th>Nama pt</th>
    <th>Tahun berdiri</th>
    <th>Email</th>
    <th>Website</th>
    <th>Alamat</th>
    <th>Telepon</th>
    <th>Status negeri</th>
    <th>Profile</th>
    <th>Visi</th>
    <th>Misi</th>
    <th>Seleksi masuk</th>
    <th>Staff pendukung</th>
    <th>Kapasitas akademik</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @univs.each do |univ| %>
  <tr>
    <td><%= univ.nama_pt %></td>
    <td><%= univ.tahun_berdiri %></td>
    <td><%= univ.email %></td>
    <td><%= univ.website %></td>
    <td><%= univ.alamat %></td>
    <td><%= univ.telepon %></td>
    <td><%= univ.status_negeri %></td>
    <td><%= univ.profile %></td>
    <td><%= univ.visi %></td>
    <td><%= univ.misi %></td>
    <td><%= univ.seleksi_masuk %></td>
    <td><%= univ.staff_pendukung %></td>
    <td><%= univ.kapasitas_akademik %></td>
    <td><%= link_to 'Show', univ %></td>
    <td><%= link_to 'Edit', edit_univ_path(univ) %></td>
    <td><%= link_to 'Destroy', univ, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Univ', new_univ_path %>
