<% provide(:title, 'Pencarian Perguruan Tinggi') %>
<header class="jumbotron subhead" id="overview">
   <div class="container">
      <%= form_tag(univs_path, :method => "get", :class => 'form-inline') do %>
         <fieldset>
            <legend>Pencarian Perguruan Tinggi</legend>
            <br />
            <%= text_field_tag(:keyword_pt, "", :placeholder => 'Type something') %>
            <%= select_tag "provinsi_id", options_from_collection_for_select(@provinsis, :id, :provinsi), :prompt => "Semua Provinsi" %>
            <%= select_tag "jenis_pt_id", options_from_collection_for_select(@jenis_pts, :id, :jenis), :prompt => "Semua Kategori" %>
            <button id="search_pt" type="submit" class="btn">Cari</button>
         </fieldset>
      <% end %>
   </div>
</header>
<div class="container">
   <div style="padding: 20px; padding-bottom: 0px;"></div>
   <div class="row">
      <div class="span12">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#global" data-toggle="tab">Hasil Pencarian</a></li>
            <li class="pull-right">
               <button type="submit" class="btn" onClick="#myModal">Filter & Shorting</button>  
            </li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="global">
               <div class="span10">
                  <% @univs.each do |univ| %>
                  <div class="row">                     
                     <div class="span2"><a href="#" class="thumbnail"><%= image_tag(univ.logo_path, :alt => "PT Logo") %></a></div>
                     <div class="span6">
                        <p><strong><%= univ.nama_pt %></strong></p>
                        <%= univ.kota.kota.capitalize %>, <%= univ.kota.provinsi.provinsi.capitalize %>
                        <p> <i class="icon-home glyphw"></i> <%= univ.telepon %> <br>
                           <i class="icon-envelope glyphw"></i> <%= univ.email %>
                        </p>
                     </div>
                     <div class="span1">
                        <a href="#" class="thumbnail"><img src="img/logo_its.png" alt=""></a>
                        <h5 align="center"><i class="icon-bookmark glyphw"></i>1</h5>
                     </div>
                  </div>
                  <% end %>
                  <%= will_paginate @univs, :renderer => BootstrapPagination::Rails %>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<hr>