 <% provide(:title, 'Pencarian Perguruan Tinggi') %>
 <div class="row">
   <div class="large-9 columns">
     <div class="row">
       <div class="large-12 columns">
         <p class="result-number">Ditemukan <%= @univs.count %> Hasil Pencarian</p>
       </div>
     </div>
     <div class="row search-result">
       <div class="large-12 columns">
         <% @univs.each do |univ| %>
         <article>
           <div class="row">
             <div class="small-5 large-5 columns">
               <%= image_tag(univ.featured_image_url(:thumb), :alt => "Gambar belum tersedia", :onerror => "this.src='/assets/default.jpg';") %>
             </div>
             <div class="small-7 large-7 columns">
               <h6 class="entry-header"><%= link_to univ.nama_pt.titleize, univ_path(univ)%></h6>
               <p class="entry-place">
                  <% if univ.kota.present? %>
                  <%= univ.kota.kota.titleize %>, <%= univ.kota.provinsi.provinsi.titleize %>
                  <% end %>
               </p>

               <p class="entry-text"><%= univ.deskripsi %></p>
               <div class="entry-more">
                  <%= link_to "Read More", univ_path(univ), :class => "tiny button read-more-button left" %>
                 <p class="entry-link right">
                   <span><%= link_to univ.website, univ.website, :target => "_blank" %></span>
                   <span class="entry-link-separator">|</span>
                   <span><%= mail_to univ.email, univ.email %></span>
                 </p>
               </div>
             </div>
           </div>
         </article>
         <% end %>         
         <div class="pagination-centered">
           <ul class="pagination">
             <li class="arrow unavailable"><a href="">&laquo;</a></li>
             <li class="arrow unavailable"><a href="">&lsaquo;</a></li>
             <li class="current"><a href="">1</a></li>
             <li><a href="">2</a></li>
             <li><a href="">3</a></li>                
             <li class="unavailable"><a href="">&hellip;</a></li>
             <li><a href="">12</a></li>
             <li><a href="">13</a></li>
             <li class="arrow"><a href="">&rsaquo;</a></li>
             <li class="arrow"><a href="">&raquo;</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
   <div class="large-3 columns">
     <div class="row sidebar">
       <div class="large-12 columns">
         <section>
           <h5 class="widget-title">Lorem Ipsum</h5>
           <p class="widget-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
         </section>            
         <section>
           <h5 class="widget-title">Lorem Ipsum</h5>
           <img class="widget-image" src="assets/images/website-kampus04/widget-image.jpg">
           <p class="widget-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
         </section>            
       </div>
     </div>
   </div>
 </div>
