<% provide(:title, 'Pencarian Perguruan Tinggi') %>
<header class="jumbotron subhead" id="overview">
   <div class="container">
      <%= form_tag(univs_path, :method => "get", :class => 'form-inline') do %>
      <fieldset>
         <legend>Pencarian Perguruan Tinggi</legend>
         <br />
         <%= text_field_tag(:keyword_pt, "", :placeholder => 'Type something') %>
         <%= select_tag "provinsi_id", options_from_collection_for_select(@provinsis, :id, :provinsi), :prompt => "Semua Provinsi" %>
         <%= select_tag "jenis_pt_id", options_from_collection_for_select(@jenis_pts, :id, :jenis), :prompt => "Semua Kategori" %>
         <button id="search_pt" type="submit" class="btn"><i class="icon-search glyphw"></i> Cari</button>
      </fieldset>
      <% end %>
   </div>
</header>
<div class="container">
   <div style="padding: 10px; padding-bottom: 0px;"></div>
   <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Ditemukan <%= @univs.count %> hasil pencarian. Gunakan <a href="#filter" data-toggle="collapse"> <strong>Filter & Shorting</strong></a> untuk pencarian lebih detail.
   </div>
   <div id="filter" class="row-fluid collapse">
    <%= form_tag(univs_path, :method => "get") do %>
      <div class="well">
         <legend>Filter & Shorting</legend>
         <div class="controls controls-row">
            <label class="span2"><span>Kata Kunci</span></label>
            <label class="span2"><span>Provinsi</span></label>
            <label class="span2"><span>Kategori</span></label>
         </div>
         <div class="controls controls-row">
            <%= text_field_tag(:keyword_pt, @params_value[:keyword_pt], :class => "span2", :placeholder => 'Type something') %>
            <%= select_tag "provinsi_id", options_from_collection_for_select(@provinsis, :id, :provinsi, :selected => @params_value[:provinsi_id] ), :prompt => "Semua Provinsi", :class => "span2" %>
            <%= select_tag "jenis_pt_id", options_from_collection_for_select(@jenis_pts, :id, :jenis, :selected => @params_value[:jenis_pt_id]), :prompt => "Semua Kategori", :class => "span2" %>
         </div>
         <br>
         <div class="controls controls-row checkbox">
            <label class="span2"><span><input type="checkbox"> Semua Filter</span></label>
            <label class="span2"><span><%= check_box_tag(:ptn_check, @params_value[:ptn_check], @params_value[:ptn_check].present? ? true : false) %>Perguruan Tinggi Negeri</span></label>
            <label class="span2"><span><%= check_box_tag(:pts_check, @params_value[:pts_check], @params_value[:pts_check].present? ? true : false) %>Perguruan Tinggi Swasta</span></label>
         </div>
         <div class="controls controls-row checkbox">
            <label class="span2"><span><%= check_box_tag(:pendaftaran_check, @params_value[:pendaftaran_check]) %>Membuka Pendaftaran</span></label>
            <label class="span2"><span><%= check_box_tag(:beasiswa_check, @params_value[:beasiswa_check]) %>Tersedia Beasiswa</span></label>
         </div>
         <br>
         <div class="controls controls-row">
            <%= select_tag("urutan", options_for_select([['Ascending (A-Z)', 1], ['Descending (Z-A)', 2]], :selected => @params_value[:urutan]), :class => "span2", :prompt => "Urutkan berdasarkan") %>&nbsp;
            <button id="search_pt" type="submit" class="btn"><i class="icon-search glyphw"></i> Cari</button>
         </div>
      </div>
      <% end %>
   </div>
   <div class="row">
      <div class="span12">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#global" data-toggle="tab">Hasil Pencarian</a></li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="global">
               <div class="span10">
                  <% @univs.each do |univ| %>
                  <div class="row">
                     <div class="span2"><%= link_to image_tag(univ.logo_path, :alt => "PT Logo", :onerror => "this.src='/assets/default.jpg';"), univ_path(univ), :class => "thumbnail" %></div>
                     <div class="span6">
                        <h4><a href="<%= link_to univ_path(univ) %>" class="header-link"><%= univ.nama_pt.present? ? univ.nama_pt.titleize : "-Unknown Nama PT-" %></a></h4>
                        <% if univ.kota.present? %>
                        <%= univ.kota.kota.present? ? univ.kota.kota.titleize : "-Unknown Kota-" %>, <%= univ.kota.provinsi.provinsi.present? ? univ.kota.provinsi.provinsi.titleize : "-Unknown Provinsi-" %>
                        <% end %>
                        <p> <i class="icon-home glyphw"></i> <%= univ.telepon.present? ? univ.telepon : "-" %> <br>
                           <i class="icon-envelope glyphw"></i> <%= univ.email.present? ? univ.email : "-" %>
                        </p>
                        <p>
                           <% if univ.prodis.present?  %>
                           <span class="label label-info">jurusan terkait</span>
                           <% else %>
                           <span class="label label-important">belum ada data jurusan</span>
                           <% end %>
                           &nbsp;&nbsp;
                           <% univ.prodis.take(4).each do |prodi| %>
                           <% if prodi.present? %>
                           <i class="icon-ok glyphw"></i> <%= link_to prodi.nama_prodi, prodi_path(prodi) %> &nbsp;&nbsp;
                           <% end %>
                           <% end %>
                        </p>
                     </div>
                  </div>
                  <% end %>
                  <%= will_paginate @univs, :renderer => BootstrapPagination::Rails %>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<hr>
