<% provide(:title, "Data Perguruan Tinggi") %>
<div class="row-fluid">
    <div class="span12">
        <div class="box corner-all">
            <div class="box-header grd-white corner-top">
                <div class="header-control">
                    <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                    <a data-box="close" data-hide="bounceOutRight">&times;</a>
                </div>
                <span>Data Perguruan Tinggi</span>
            </div>
            <div class="box-body">
                <table id="datatables" class="table table-hover responsive">
                    <thead>
                        <tr>
                            <th>Kode</th>
                            <th>Perguruan Tinggi</th>
                            <th>Provinsi</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @univs.each do |univ| %>
                        <tr>
                            <td><%= univ.id %></td>
                            <td><%= univ.nama_pt %></td>
                            <td><%= univ.kota.present? ? univ.kota.provinsi.provinsi : "-Unknown Provinsi-" %></td>
                            <td class="center">
                                <span class="label label-info">
                                    <%= link_to "Edit",edit_univ_path(univ) %>
                                </span>
                                <span class="label label-important">
                                    <%= link_to "Delete",univ_path(univ), method: :delete, :class =>"delete" %>
                                </span>
                            </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
                
            </div><!-- /box-body -->
        </div><!-- /box -->
    </div><!-- /span -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // try your js
        
        // peity chart
        $("span[data-chart=peity-bar]").peity("bar");
                        
        // datatables
        $('#datatables').dataTable( {
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
            }
        });
        
        $('.delete').on('click', function () {
            return confirm('Anda yakin akan menghapus data ini?');
        });
    });
</script>