<% provide(:title, @univ.nama_pt.titleize) %>
<div class="row">
  <div class="large-9 columns">        
    <div class="row highlight">
      <div class="large-12 columns">
        <div class="left-highlight">
          <%= image_tag @univ.logo_url(:thumb), alt: "Gambar belum tersedia", onerror: "this.src='/assets/logo.jpg';" %>
        </div>
        <div class="right-highlight">
          <h3 class="post-header">
              <%= @univ.nama_pt.titleize %>
          </h3>
          <p class="post-author">
            Last Updated - <span><%= @univ.updated_at.to_formatted_s(:long_ordinal) %></span>
          </p>
          <div class="rating">
                        
          </div>
          <div class="share-page">            
            <!--Facebook share button -->
            <a class="facebook-share-page-button" href="#" 
              onclick="
                window.open(
                  'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                  'facebook-share-dialog', 
                  'width=626,height=436'); 
                return false;">
              &nbsp;
            </a>
            <!--Twitter share button -->
            <div id="custom-tweet-button">
              <a href="javascript:twitter_url();">&nbsp;</a>
            </div>
            <!--Linkedin share button -->
            <a class="linkedin-share-page-button" href="javascript:linkedin_url();" rel="nofollow"> <img src="/assets/front/profile/icon-share-linkedin.png" title="Share on LinkedIn" alt="Share on LinkedIn" width="20" height="20" border="0" /> </a>
            <!--Google+ share button -->
            <a href="javascript:gugelplus_url();"><img
            src="/assets/front/profile/icon-share-gplus.png" alt="Share on Google+"/></a>
          </div>
          <% if @univranking.present? %>
           <div class="note"><span>Government: <%= @univranking.government.present? ? @univranking.government : " - " %></span> | <span>College: <%= @univranking.college.present? ? @univranking.college : " - " %></span> | <span>Society: <%= @univranking.society.present? ? @univranking.society : " - " %></span></div>
           <% end %>
        </div>
      </div>
    </div>
    <div class="row gallery">
      <div class="large-12 columns">
        <% if @univ.univgalleries.present? %>
        <div id="rg-gallery" class="rg-gallery">
          <div class="rg-thumbs">
            <!-- Elastislide Carousel Thumbnail Viewer -->
            <div class="es-carousel-wrapper">
               <div class="es-nav">
                 <span class="es-nav-prev">Previous</span>
                 <span class="es-nav-next">Next</span>
               </div>
               
               <div class="es-carousel">
                 <ul>
                  <% @univ.univgalleries.each do |gallery| %>
                   <li>
                     <%= link_to image_tag(gallery.image_url(:thumb), alt: "Gambar belum tersedia", data: { large: gallery.image_url(:slide), description: gallery.caption }), "#" %>
                   </li>
                   <% end %>
                 </ul>
               </div>
             </div>
            <!-- End Elastislide Carousel Thumbnail Viewer -->
          </div><!-- rg-thumbs -->
        </div><!-- rg-gallery -->
        <% end %>
      </div>
    </div>
    <div class="row profile">
      <div class="large-12 columns">
        <div class="section-container auto" data-section>
          <section>
            <p class="title" data-section-title><a href="#panel1">Profil</a></p>
            <div class="content" data-section-content>
              <div class="row information">
                <div class="large-12 columns">
                  <h5 class="information-title">Keterangan</h5>
                  <form>
                    <fieldset>
                      <div class="row">
                        <div class="small-9 large-7">
                          <div class="row">
                            <div class="small-3 columns">
                              <label class="left inline">Status</label>
                            </div>
                            <div class="small-9 columns">
                              <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= @univ.status_negeri.present? ? @univ.status_negeri.titleize : "-" %></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-9 large-7">
                          <div class="row">
                            <div class="small-3 columns">
                              <label class="left inline">Tahun Berdiri</label>
                            </div>
                            <div class="small-9 columns">
                              <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= @univ.tahun_berdiri.present? ? @univ.tahun_berdiri : "-" %></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-9 large-7">
                          <div class="row">
                            <div class="small-3 columns">
                              <label class="left inline">Alamat</label>
                            </div>
                            <div class="small-9 columns">
                              <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= @univ.alamat.present? ? @univ.alamat : "-" %></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-9 large-7">
                          <div class="row">
                            <div class="small-3 columns">
                              <label class="left inline">Email</label>
                            </div>
                            <div class="small-9 columns">
                              <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= mail_to @univ.email, @univ.email.present? ? @univ.email : "-" %></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-9 large-7">
                          <div class="row">
                            <div class="small-3 columns">
                              <label class="left inline">Website</label>
                            </div>
                            <div class="small-9 columns">
                              <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= link_to @univ.website, @univ.website.present? ? @univ.website : "-", target: "_blank" %></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-9 large-7">
                          <div class="row">
                            <div class="small-3 columns">
                              <label class="left inline">Telephone</label>
                            </div>
                            <div class="small-9 columns">
                              <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= @univ.telepon.present? ? @univ.telepon : "-" %></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
              <div class="row description">
                <div class="large-12 columns">
                  <%= image_tag @univ.featured_image_url(:thumb), alt: "Gambar belum tersedia", onerror: "this.src='/assets/default.jpg';" %>
                  <h5 class="description-title">Deskripsi</h5>
                  <p class="description-text"><%= @univ.deskripsi.present? ? @univ.deskripsi : "- belum ada deskripsi -" %></p>
                  
                </div>                    
              </div>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#panel2">Jurusan</a></p>
            <div class="content" data-section-content>
              <div class="row panel-jurusan-wrapper">
                <% 
                  i = 0 
                  count = @univ.prodis.count/3 + 1
                %>
                <% @univ.prodis.each do |prodi| %>
                  <% 
                    i = 0 if i >= count
                    i += 1
                    if i == 1 
                  %>
                    <div class="large-4 columns">
                      <ul>
                        <li><%= link_to prodi.jenjang_prodi.jenjang.empty? ? "#{ prodi.nama_prodi }" : "#{ prodi.jenjang_prodi.jenjang } - #{ prodi.nama_prodi.titleize }", univ_prodi_path(prodi.univ, prodi) %></li>
                  <% else %>
                    <li><%= link_to prodi.jenjang_prodi.jenjang.empty? ? "#{ prodi.nama_prodi }" : "#{ prodi.jenjang_prodi.jenjang } - #{ prodi.nama_prodi.titleize }", univ_prodi_path(prodi.univ, prodi) %></li>
                  <% end %>
                  <% if i >= count %>   
                      </ul>
                    </div>
                  <% end %>
                <% end %>          
              </div>
              <p class="entry-link right">
                <% if @univ.website.present? && @univ.email.present?  %>
                <span><%= link_to @univ.website, @univ.website, target: "_blank" %></span>
                <span class="entry-link-separator">|</span>
                <span><%= mail_to @univ.email, @univ.email %></span>
                <% elsif @univ.website.present? %>
                <span><%= link_to @univ.website, @univ.website, target: "_blank" %></span>
                <% elsif @univ.website.email? %>
                <span><%= mail_to @univ.email, @univ.email %></span>
                <% end %>
              </p>
            </div>
          </section>
          <section>
            <p class="title margin-fix-1" data-section-title><a href="#panel3">Alumnus</a></p>
            <div class="content" data-section-content>
              <p> - belum ada data - </p>
            </div>
          </section>
          <section>
            <p class="title margin-fix-2" data-section-title><a href="#panel4">Lain-lain</a></p>
            <div class="content" data-section-content>
              <p> - belum ada data - </p>
            </div>
          </section>
          <section>
            <p class="title socmed-fb margin-fix-3" data-section-title><a class="socmed-link" href="<%= @univ.facebook.present? ? "http://facebook.com/#{@univ.facebook}" : "#" %>" target="_blank">&nbsp;</a></p>
          </section>
          <section>
            <p class="title socmed-twitter margin-fix-4" data-section-title><a class="socmed-link" href="<%= @univ.twitter.present? ? "http://twitter.com/#{@univ.twitter}" : "#" %>" target="_blank">&nbsp;</a></p>
          </section>
          <section>
            <p class="title socmed-youtube margin-fix-5" data-section-title><a class="socmed-link" href="<%= @univ.youtube.present? ? "http://youtube.com/user/#{@univ.youtube}" : "#" %>" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
          </section>
          <div class="tab-shadow"></div>
        </div>
      </div>            
    </div>
  </div>
  <%= render partial: "layouts/sidebar" %>
</div>

<script>
  function twitter_url(){
    var url;
    url = "https://twitter.com/share?url="+encodeURIComponent(location.href)+"&via=kampuscoid";
    window.open(url, 'width=626,height=436'); 
    return false;
  }

  function gugelplus_url(){
    var url = "https://plus.google.com/share?url={"+encodeURIComponent(location.href)+"}";
    window.open(
      url,
      '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
    return false;
  }

  function linkedin_url(){
    var url = "https://plus.google.com/share?url={"+encodeURIComponent(location.href)+"}";
    var url = "http://www.linkedin.com/shareArticle?mini=true&url="+encodeURIComponent(location.href)+"&title=<%= @univ.nama_pt.titleize %>&summary=<%= @univ.nama_pt.titleize %>&source=TheNameOfYourSiteGoesHere";

    window.open(url,'template_window','550','400','yes','center');
    return false;
  }
</script>