- provide(:title, @univ.nama_pt.titleize)
.row
  .large-9.columns
    .row.highlight
      .large-12.columns
        .left-highlight= image_tag @univ.logo_url(:thumb), :alt => "Gambar belum tersedia", :onerror => "this.src='/assets/logo.jpg';"
        .right-highlight
          %h3.post-header= @univ.nama_pt.titleize
          %p.post-author
            Last Updated -
            %span= @univ.updated_at.to_formatted_s(:long_ordinal)
          .rating
          .share-page
            %span Share this page:
            <!--Facebook share button -->
            %a{ class: "facebook-share-page-button", href: "#", onclick: "window.open('https://www.facebook.com/sharer/sharer.php?u=http://kampus.co.id/univs/institut-teknologi-bandung', 'facebook-share-dialog', 'width=626,height=436'); return false;" } &nbsp;
                
            <!--Twitter share button -->
            #custom-tweet-button
              %a{ href: "https://twitter.com/share?url=http://kampus.co.id/univs/institut-teknologi-bandung&via=kampuscoid", target: "_blank" } &nbsp;
            <!--Linkedin share button -->            
            %a{ class: "linkedin-share-page-button", href: "http://www.linkedin.com/shareArticle?mini=true&url=http://kampus.co.id/univs/institut-teknologi-bandung&title=TheTitleOfYourWebPageGoesHere&summary=TheSummaryOfYourWebPageGoesHere&source=TheNameOfYourSiteGoesHere", rel: "nofollow", onclick: "NewWindow(this.href,'template_window','550','400','yes','center');return false", onfocus: "this.blur()" }
              = image_tag asset_path("front/profile/icon-share-linkedin.png"), title: "Share on LinkedIn", alt: "Share on LinkedIn", width: "20", height: "20", border: "0"
            <!--Google+ share button -->
            %a{ href: "https://plus.google.com/share?url={http://kampus.co.id/univs/institut-teknologi-bandung}", onclick: "javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"  }
              = image_tag asset_path("front/profile/icon-share-gplus.png"), alt: "Share on Google+"

          - if @univrating.present?
            .note
              %span Ban PT: #{ @univrating.government } &#x20;|
              %span Expertise: #{ @univrating.college } &#x20;|
              %span Masyarakat: #{ @univrating.society } &#x20;|

    .row.gallery
      .large-12.columns
        - if @univ.univgalleries.present?
          .rg-gallery#rg-gallery
            .rg-thumbs
              <!-- Elastislide Carousel Thumbnail Viewer -->
              .es-carousel-wrapper
                .es-nav
                  %span.es-nav-prev Previous
                  %span.es-nav-next Next

                .es-carousel
                  .ul
                    - @univ.univgalleries.each do |gallery|
                      %li= link_to image_tag(gallery.image_url(:thumb), :alt => "Gambar belum tersedia", :data => {:large => gallery.image_url(:slide), :description => gallery.caption }), "#"

    .row.profile
      .large-12.columns
        %div{ class: "section-container auto", data: {section: true}}
          %section
            %p{ class: "title", data: { section: {title: true}}}= link_to "Profil", "#panel1"
            %div{ class: "content", data: { section: {content: true}}}
              .row.information
                .large-12.columns
                  %h5.information-title Keterangan
                  %form
                    %fieldset
                      .row
                        .small-9.large-7
                          .row
                            .small-3.columns
                              %label.left.inline Status                              
                            .small-9.columns
                              %label.left.inline : &nbsp;&nbsp;&nbsp;#{ @univ.status_negeri.present? ? @univ.status_negeri.titleize : "-" }

                      .row
                        .small-9.large-7
                          .row
                            .small-3.columns
                              %label.left.inline Tahun Berdiri
                            .small-9.columns
                              %label.left.inline : &nbsp;&nbsp;&nbsp;#{ @univ.tahun_berdiri.present? ? @univ.tahun_berdiri : "-" }
                      .row
                        .small-9.large-7
                          .row
                            .small-3.columns
                              %label.left.inline Alamat
                            .small-9.columns
                              %label.left.inline : &nbsp;&nbsp;&nbsp;#{ @univ.alamat.present? ? @univ.alamat : "-" }
                      .row
                        .small-9.large-7
                          .row
                            .small-3.columns
                              %label.left.inline Email
                            .small-9.columns
                              %label.left.inline : &nbsp;&nbsp;&nbsp;#{ mail_to @univ.email, @univ.email.present? ? @univ.email : "-" }
                      .row
                        .small-9.large-7
                          .row
                            .small-3.columns
                              %label.left.inline Website
                            .small-9.columns
                              %label.left.inline : &nbsp;&nbsp;&nbsp;#{ link_to @univ.website, @univ.website.present? ? @univ.website : "-", :target => "_blank" }
                      .row
                        .small-9.large-7
                          .row
                            .small-3.columns
                              %label.left.inline Telepon
                            .small-9.columns
                              %label.left.inline : &nbsp;&nbsp;&nbsp;#{ @univ.telepon.present? ? @univ.telepon : "-" }

              .row.description
                .large-12.columns
                  = image_tag @univ.featured_image_url(:thumb), :alt => "Gambar belum tersedia", :onerror => "this.src='/assets/default.jpg';"
                  %h5.description-title Deskripsi
                  %p.description-text #{ @univ.deskripsi.present? ? @univ.deskripsi : "- belum ada deskripsi -" }

          %section
            %p{ class: "title", data: { section: {title: true}}}= link_to "Gallery", "#panel2"
            %div{ class: "content", data: {section: {content: true}}}
              %p Konten Gallery

          %section
            %p{ class: "title margin-fix-1", data: {section: {title: true}}}= link_to "Prospektus", "#panel3"
            %div{ class: "content", data: {section: {content: true}}}
              %p Konten Prospektus Alumni

          %section
            %p{ class: "title margin-fix-2", data: {section: {title: true}}}= link_to "Lain-lain", "#panel4"
            %div{ class: "content", data: {section: {content: true}}}
              %p Kontan Lain-lain

          %section
            %p{ class: "title socmed-fb margin-fix-3", data: {section: {title: true}}}= link_to "",  @univ.facebook.present? ? "http://facebook.com/#{@univ.facebook}" : "#", class: "socmed-link", target: "_blank"

          %section
            %p{ class: "title socmed-twitter margin-fix-4", data: {section: {title: true}}}= link_to "", @univ.twitter.present? ? "http://twitter.com/#{@univ.twitter}" : "#", class: "socmed-link", target: "_blank"

          %section
            %p{ class: "title socmed-youtube margin-fix-5", data: {section: {title: true}}}= link_to "", @univ.youtube.present? ? "http://youtube.com/user/#{@univ.youtube}" : "#", class: "socmed-link", target: "_blank"


          .tab-shadow

  = render :partial => "layouts/sidebar" 