<p id="notice"><%= notice %></p>

<p>
  <b>Nama pt:</b>
  <%= @univ.nama_pt %>
</p>

<p>
  <b>Tahun berdiri:</b>
  <%= @univ.tahun_berdiri %>
</p>

<p>
  <b>Email:</b>
  <%= @univ.email %>
</p>

<p>
  <b>Website:</b>
  <%= @univ.website %>
</p>

<p>
  <b>Alamat:</b>
  <%= @univ.alamat %>
</p>

<p>
  <b>Telepon:</b>
  <%= @univ.telepon %>
</p>

<p>
  <b>Status negeri:</b>
  <%= @univ.status_negeri %>
</p>

<p>
  <b>Profile:</b>
  <%= @univ.profile %>
</p>

<p>
  <b>Visi:</b>
  <%= @univ.visi %>
</p>

<p>
  <b>Misi:</b>
  <%= @univ.misi %>
</p>

<p>
  <b>Seleksi masuk:</b>
  <%= @univ.seleksi_masuk %>
</p>

<p>
  <b>Kapasitas akademik:</b>
  <%= @univ.kapasitas_akademik %>
</p>


<%= link_to 'Edit', edit_univ_path(@univ) %> |
<%= link_to 'Back', univs_path %>
