<% provide(:title, @univ.nama_pt) %>
 <div class="row">
   <div class="large-9 columns">        
     <div class="row highlight">
       <div class="large-12 columns">
         <div class="left-highlight">
           <%= image_tag @univ.image_url(:thumb), :alt => "Gambar belum tersedia", :onerror => "this.src='/assets/profile/logo.jpg';" %>
         </div>
         <div class="right-highlight">
           <h3 class="post-header">
               <%= @univ.nama_pt.titleize %>
           </h3>
           <p class="post-author">
             Last Updated - <span><%= @univ.updated_at %></span>
           </p>
           <div class="rating">
                         
           </div>
           <% if @univrating.present? %>
           <div class="note"><span>Ban PT: <%= @univrating.government %></span> | <span>Expertise: <%= @univrating.college %></span> | <span>Masyarakat: <%= @univrating.society %></span></div>
           <% end %>
         </div>
       </div>
     </div>
     <div class="row gallery">
       <div class="large-12 columns">
         <% if @univ.univgalleries.present? %>
         <div id="rg-gallery" class="rg-gallery">
           <div class="rg-thumbs">
             <!-- Elastislide Carousel Thumbnail Viewer -->
             <div class="es-carousel-wrapper">
               <div class="es-nav">
                 <span class="es-nav-prev">Previous</span>
                 <span class="es-nav-next">Next</span>
               </div>
               
               <div class="es-carousel">
                 <ul>
                  <% @univ.univgalleries.each do |gallery| %>
                   <li>
                     <%= link_to image_tag(gallery.image_url(:thumb), :alt => "Gambar belum tersedia", :data => {:large => gallery.image_url, :description => gallery.caption }), "#" %>
                   </li>
                   <% end %>
                 </ul>
               </div>
             </div>
             <!-- End Elastislide Carousel Thumbnail Viewer -->
           </div><!-- rg-thumbs -->
         </div><!-- rg-gallery -->
         <% end %>
       </div>
     </div>
     <div class="row profile">
       <div class="large-12 columns">
         <div class="row profile-panel">
           <div class="large-12 columns">
             <ul class="button-group">
               <li><a href="#" class="small button">Profil</a></li>
               <li><a href="#" class="small button">Gallery</a></li>
               <li><a href="#" class="small button">Prospectus</a></li>
               <li><a href="#" class="small button">Lain-lain</a></li>
               <li><a href="#" class="small button profile-fb">&nbsp</a></li>
               <li><a href="#" class="small button profile-twitter">&nbsp</a></li>
               <li><a href="#" class="small button profile-youtube">&nbsp</a></li>
               <li><a href="#" class="small button button-fixer">&nbsp</a></li>
             </ul>
             <div class="profile-panel-shadow">
               
             </div>
           </div>
         </div>
         <div class="row information">
           <div class="large-12 columns">
             <h5 class="information-title">Keterangan</h5>
             <form>
               <fieldset>
                 <div class="row">
                     <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Status</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= @univ.status_negeri.present? ? @univ.status_negeri.titleize : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Tahun Berdiri</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= @univ.tahun_berdiri.present? ? @univ.tahun_berdiri : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Alamat</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= @univ.alamat.present? ? @univ.alamat : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Email</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= mail_to @univ.email, @univ.email.present? ? @univ.email : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Website</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= link_to @univ.website, @univ.website.present? ? @univ.website : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="small-9 large-7">
                     <div class="row">
                       <div class="small-3 columns">
                         <label class="left inline">Telephone</label>
                       </div>
                       <div class="small-9 columns">
                         <label class="left inline">: &nbsp;&nbsp;&nbsp;<%= @univ.telepon.present? ? @univ.telepon : "-" %></label>
                       </div>
                     </div>
                   </div>
                 </div>
               </fieldset>
             </form>
           </div>
         </div>
         <div class="row description">
           <div class="large-5 columns">
             <%= image_tag @univ.featured_image_url(:thumb), :alt => "Gambar belum tersedia", :onerror => "this.src='/assets/default.jpg';" %>
           </div>
           <div class="large-7 columns">
             <h5 class="description-title">Deskripsi</h5>
             <p class="description-text"><%= @univ.deskripsi.present? ? @univ.deskripsi : "- belum ada deskripsi -" %></p>
           </div>
         </div>
       </div>            
     </div>
   </div>
   <%= render :partial => "layouts/sidebar" %>
 </div>
