<% provide(:title, 'Tambah Provinsi') %>

<%= form_for(@provinsi) do |f| %>
  <% if @provinsi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provinsi.errors.count, "error") %> prohibited this provinsi from being saved:</h2>

      <ul>
      <% @provinsi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :provinsi %><br />
    <%= f.text_field :provinsi %>
  </div>
  <div class="actions">
    <%= submit_tag("Simpan") %>
  </div>
<% end %>
