.row-fluid
  .span12
    .box.corner-all
      .box-header.grd-white.corner-top
        .header-control
          %a{"data-box" => "collapse"}
            %i.icofont-caret-up
          %a{"data-box" => "close", "data-hide" => "bounceOutRight"} &times;
        %span= yield(:title)
      .box-body
        = form_for @univprestasi, url: @url, :html => {:class => "form-horizontal", :id => "form-validate", :novalidate => "novalidate" } do |f|
          - if @univprestasi.errors.any?
            .alert.alert-error
              %button.close{"data-dismiss" => "alert", :type => "button"} &times;
              %div
                - @univprestasi.errors.full_messages.each do |msg|
                  = msg
                  %br

          .control-group
            %label.control-label{for: "required"} Tahun
            .controls
              = f.text_field :tahun, id: "tahun", class: "grd-white input-xxlarge", placeholder: "ex. 2015", data: { validate: "{required: true, messages:{required:'Tahun Prestasi Prodi harus diisi'}}"}

          .control-group
            %label.control-label{:for => "inputEditorSimple"} Prestasi
            .controls
              = f.text_area :prestasi, :id => "prestasi", :class => "span7", :rows => "5", :data => {:form => "prestasi"}, :placeholder => "Isikan prestasi ..."

          .form-actions
            = f.hidden_field :univ_id, id: "univ_id", value: @univ.id
            %button.btn.btn-primary{:type => "submit"} Save
            %button.btn{:onclick => "history.go(-1);", :type => "button"} Cancel
 