- provide(:title, "Data Prestasi Perguruan Tinggi")

.row-fluid
  .span12
    = link_to "Tambah Prestasi Perguruan Tinggi", new_univ_univprestasi_path(@univ), role: "button", class: "btn btn-mini btn-primary"

.row-fluid
  .span12
    .box.corner-all
      .box-header.grd-white.corner-top
        .header-control
          %a{"data-box" => "collapse"}
            %i.icofont-caret-up
          %a{"data-box" => "close", "data-hide" => "bounceOutRight"} &times;
        %span Data Prestasi Perguruan Tinggi #{ @univ.nama_pt.titleize }
      .box-body
        %table#datatables.table.table-hover.responsive
          %thead
            %tr
              %th Tahun
              %th Prestasi
              %th &nbsp;
          %tbody
            - @univprestasis.each do |prestasi|
              %tr
                %td= prestasi.tahun
                %td= prestasi.prestasi
                %td.center
                  %span.label.label-info
                    = link_to "Edit", edit_univ_univprestasi_path(prestasi.univ, prestasi)
                  %span.label.label-important
                    = link_to "Delete", univ_univprestasi_path(prestasi.univ, prestasi), method: :delete, :class => "delete"

:javascript
  $(document).ready(function() {
    // peity chart
    $("span[data-chart=peity-bar]").peity("bar");
                    
    // datatables
    $('#datatables').dataTable( {
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "oLanguage": {
              "sLengthMenu": "_MENU_ records per page"
      }
    });

    $('.delete').on('click', function () {
      return confirm('Anda yakin akan menghapus data ini?');
    });
  });