
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Kampus.co.id | Unofficial Indonesian's Campus Review</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= stylesheet_link_tag    "default", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Archivo+Narrow:400,700" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
	<div align="center">
		<p>&nbsp;</p>
	  	<p>&nbsp;</p>
		<p><%= image_tag("logo-1.png", :alt => "", :width => "518", :height => "134", :align => "middle", :style => "padding-left:60px") %>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		
		<div style="background: url('/assets/body.jpg');width: 525px;height: 220px;" align="center">
			<div style="padding-top:90px;" align="center">
				<label style="font-size:15px; font-weight:450; font-family:"droid Sans", arial, calibri">Daftarkan email Anda, dan kami akan memberi kabar terbaru</label>
				<%= form_for(@subscriber) do |f| %>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
				  	<td height="6px"></td>
				  </tr>
                  <tr>
                    <td align="center" id="search">
						<%= f.text_field :email, :placeholder => "tulis email anda", :id => "email" %>
                    	<!--<input type="text" placeholder="tulis email Anda&hellip;" name="email" id="email"/></td>-->
                  </tr>
                  <tr>
				  	<td height="6px"></td>
				  </tr>
                  <tr>
                    <td align="center">
                    	<%= f.submit "Subscribe", :name => "submit", :class => "buttonn" %>
                    	<!--<input type="submit" name="submit" value="Subscribe" class="buttonn">-->
                   	</td>
                  </tr>
                </table>
                <% end %>
            </div>
		</div>
</div>
</body>
</html>
