.row-fluid
  .span12
    .box.corner-all
      .box-header.grd-white.corner-top
        .header-control
          %a{"data-box" => "collapse"}
            %i.icofont-caret-up
          %a{"data-box" => "close", "data-hide" => "bounceOutRight"} &times;
        %span= yield(:title)
      .box-body
        = form_for @prodi_biaya, url: @url, html: { class: "form-horizontal", id: "form-validate", novalidate: "novalidate" } do |f|
          - if @prodi_biaya.errors.any?
            .alert.alert-error
              %button.close{ "data-dismiss" => "alert", type: "button" } &times;
              %div
                - @prodi_biaya.errors.full_messages.each do |msg|
                  = msg
                  %br

          .control-group
            %label.control-label{ for: "required" } Biaya
            .controls
              = f.text_area :biaya, rows: "3", id: "biaya", placeholder: "Isikan biaya", data: { validate: "{required: true, messages: {required: 'Nama biaya harus diisi'}}"}

          .control-group
            %label.control-label{ for: "required" } Nilai
            .controls
              = f.text_field :nilai, id: "nilai", class: "grd-white", placeholder: "ex. nilaiXYZ", data: { validate: "{required: true, messages: {required: 'Nilai biaya harus diisi'}}"}
          
          .form-actions
            = f.hidden_field :prodi_id, :value => @prodi.id
            %button.btn.btn-primary{ type: "submit" } Save
            %button.btn{ onclick: "history.go(-1);", type: "button" } Cancel

:javascript
  $(document).ready(function() {
      
      // peity chart
      $("span[data-chart=peity-bar]").peity("bar");

      // uniform
      $('#form-validate').validate();
  });