<% provide(:title, 'Survey Alumni') %>

<div class="container">
   <div class="row">
      <div class="span12">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#survey" data-toggle="tab">Survey Alumni</a></li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="survey">
               <div class="span10">
               	<h3 align="center">Riset Keprofesian Alumni <br>Perguruan Tinggi Negeri dan Swasta di Indonesia <br>Tahun 2007-2013</h3>
                  <div class="well">
                     <p><strong>Kampus.co.id</strong> merupakan salah satu media informasi dan peringkat mengenai perguruan tinggi negeri dan swasta di Indonesia. <br>
                     Survey ini adalah survey untuk alumni perguruan tinggi negeri dan swasta lulusan tahun 2007 hingga 2013 guna untuk menyempurnakan informasi yang akan kami sajikan pada setiap perguruan tinggi terkait.</p>
                     <p>Tujuan dari data alumni ini adalah untuk memberikan informasi kepada calon mahasiswa dan menjadi indikator dalan penentuan peringkat perguruan tinggi. Oleh karena itu, besar harapan kami agar saudara/i berkenan memberikan informasi pada kuesioner berikut dengan sebenar-benarnya. Segala informasi yang saudara/i berikan akan dijamin kerahasiaannya.</p>
                     <p>Terima Kasih</p>
                  </div>
                  <div class="well span6">
                     <table class="table">
                       <thead>
                         <tr>
                           <th colspan="2"><h4>Identitas Responden (A)</h4></th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>Usia</td>
                           <td>: <%= text_field_tag(:usia, "", :class => "input-mini", :maxlength => 3) %></td>
                         </tr>
                         <tr>
                           <td>Asal Perguruan Tinggi</td>
                           <td>: <%= select_tag "pt", options_from_collection_for_select(Univ.order("nama_pt"), :id, :nama_pt), :prompt => "Pilih Perguruan Tinggi", :titleize => true %></td>
                         </tr>
                         <tr>
                           <td>Jurusan/Prodi</td>
                           <td>: <input type="text" placeholder=""></td>
                         </tr>
                         <tr>
                           <td>Tahun Lulus</td>
                           <td>: <%= text_field_tag(:tahun_lulus, "", :class => "input-mini", :maxlength => 4) %></td>
                         </tr>
                         <tr>
                           <td>Jenis Kelamin</td>
                           <td>: 
                            <label class="radio inline control-label"><input type="radio" name="pria" value="pria" checked>Laki-laki</label>
                            <label class="radio inline control-label"><input type="radio" name="wanita" value="wanita">Wanita</label>
                           </td>
                         </tr>
                         <tr>
                           <td>Tempat tinggal (saat ini)</td>
                           <td>: <%= select_tag "kota", options_from_collection_for_select(Kota.order("kota"), :id, :kota), :prompt => "Pilih Kota" %></td>
                         </tr>
                       </tbody>
                     </table>
                  </div>


                  <div class="well span6">
                     <table class="table">
                       <thead>
                         <tr>
                           <th colspan="2"><h4>Education (B)</h4></th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td><label><strong>1. Berapa Lama anda menjalani perkuliahan?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_kuliah, "<4", :checked => true) %> Kurang dari 4 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_kuliah, "4") %> Tepat 4 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_kuliah, ">4") %> Lebih dari 4 tahun</label>
                           </td>
                         </tr>

                         <tr>
                           <td><label><strong>2. Berapakah IP anda ketika lulus?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:ipk, "<=2", :checked => true) %> IPK <= 2</label>
                            <label class="radio control-label"><%= radio_button_tag(:ipk, "<=2") %> 2 < IPK <= 2.25</label>
                            <label class="radio control-label"><%= radio_button_tag(:ipk, "<=2") %> 2.25 < IPK <= 2.50</label>
                            <label class="radio control-label"><%= radio_button_tag(:ipk, "<=2") %> 2.50 < IPK <= 2.75</label>
                            <label class="radio control-label"><%= radio_button_tag(:ipk, "<=2") %> 2.75 < IPK <= 3.00</label>
                            <label class="radio control-label"><%= radio_button_tag(:ipk, "<=2") %> 3.00 < IPK <= 3.25</label>
                            <label class="radio control-label"><%= radio_button_tag(:ipk, "<=2") %> 3.25 < IPK <= 3.50</label>
                            <label class="radio control-label"><%= radio_button_tag(:ipk, "<=2") %> 3.50 < IPK <= 3.75</label>
                            <label class="radio control-label"><%= radio_button_tag(:ipk, "<=2") %> 3.75 < IPK <= 4.00</label>
                           </td>
                         </tr>

                         <tr>
                           <td><label><strong>3. Apakah anda mempunyai sertifikat professional yang berkaitan dengan bidang anda? Sebutkan</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:sertifikat, "1", :checked => true) %> Tidak punya</label>
                            <label class="radio control-label"><%= radio_button_tag(:sertifikat, "2") %> Iya, saya punya</label>
                            <%= text_area_tag :sertifikats, "", :rows => "3", :class => "span3", :placeholder => "Sertifikat" %>
                           </td>
                         </tr>

                       </tbody>
                     </table>
                  </div>

                  <div class="well span6">
                     <table class="table">
                       <thead>
                         <tr>
                           <th colspan="2"><h4>Career (C)</h4></th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td><label><strong>1. Apakah pekerjaan PERTAMA anda setelah LULUS KULIAH?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:pekerjaan_pertama, "pns", :checked => true) %> Pegawai Negeri Sipil (PNS)/TNI/POLRI</label>
                            <label class="radio control-label"><%= radio_button_tag(:pekerjaan_pertama, "swasta") %> Pegawai Swasta</label>
                            <label class="radio control-label"><%= radio_button_tag(:pekerjaan_pertama, "professional") %> Tenaga Professional (Dokter/Bidan/Pengacara/Hakim/Notaris)</label>
                            <label class="radio control-label"><%= radio_button_tag(:pekerjaan_pertama, "guru") %> Guru/Dosen</label>
                            <label class="radio control-label"><%= radio_button_tag(:pekerjaan_pertama, "wiraswasta") %> Wiraswasta</label>
                            <label class="radio control-label"><%= radio_button_tag(:pekerjaan_pertama, "mahasiswa") %> Mahasiswa (Melanjutkan studi)</label>
                            <label class="radio control-label"><%= radio_button_tag(:pekerjaan_pertama, "pengangguran") %> Tidak Bekerja/tidak melanjutkan studi hingga saat ini</label>
                            <label class="radio control-label"><%= radio_button_tag(:pekerjaan_pertama, "lainnya") %> Lainnya, sebutkan</label>
                            <%= text_area_tag :pekerjaan_pertama, "", :rows => "3", :class => "span3", :placeholder => "Pekerjaan pertama" %>
                           </td>
                         </tr>

                         <tr>
                           <td><label><strong>2. Apakah profesi utama anda saat ini?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:profesi, "pns", :checked => true) %> Pegawai Negeri Sipil (PNS)/TNI/POLRI</label>
                            <label class="radio control-label"><%= radio_button_tag(:profesi, "swasta") %> Pegawai Swasta</label>
                            <label class="radio control-label"><%= radio_button_tag(:profesi, "professional") %> Tenaga Professional (Dokter/Bidan/Pengacara/Hakim/Notaris)</label>
                            <label class="radio control-label"><%= radio_button_tag(:profesi, "guru") %> Guru/Dosen</label>
                            <label class="radio control-label"><%= radio_button_tag(:profesi, "wiraswasta") %> Wiraswasta</label>
                            <label class="radio control-label"><%= radio_button_tag(:profesi, "mahasiswa") %> Mahasiswa (Melanjutkan studi)</label>
                            <label class="radio control-label"><%= radio_button_tag(:profesi, "pengangguran") %> Tidak Bekerja/tidak melanjutkan studi hingga saat ini</label>
                            <label class="radio control-label"><%= radio_button_tag(:profesi, "lainnya") %> Lainnya, sebutkan</label>
                            <%= text_area_tag :profesi, "", :rows => "3", :class => "span3", :placeholder => "Profesi/Pekerjaan" %>
                           </td>
                         </tr>

                         <tr>
                           <td><label><strong>3. Apakah pendidikan yang sedang/terakhir anda saat ini?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:pendidikan, "d3", :checked => true) %> D3</label>
                            <label class="radio control-label"><%= radio_button_tag(:pendidikan, "d4") %> D4</label>
                            <label class="radio control-label"><%= radio_button_tag(:pendidikan, "s1") %> S1</label>
                            <label class="radio control-label"><%= radio_button_tag(:pendidikan, "s2") %> S2</label>
                            <label class="radio control-label"><%= radio_button_tag(:pendidikan, "s3") %> S3</label>
                           </td>
                         </tr>

                         <tr>
                           <td>
                            <p><em>Pertanyaan C4 ditujukan untuk anda yang pernah bekerja/melanjutkan studi</em></p>
                            <label><strong>4. Berapa lama anda mendapatkan pekerjaan PERTAMA/melanjutkan studi setelah lulus kuliah?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "1", :checked => true) %> Sebelum lulus kuliah</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "2") %> < 6 bulan</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "3") %> 6 bulan <= lama < 1 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "4") %> 1 tahun <= lama < 1.5 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "5") %> 1.5 tahun <= lama < 2 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "6") %> 2 tahun <= lama < 2.5 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "7") %> 2.5 tahun <= lama < 3 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "8") %> 3 tahun <= lama < 3.5 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "9") %> 3.5 tahun <= lama < 4 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "10") %> 4 tahun <= lama < 4.5 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "11") %> 4.5 tahun <= lama < 5 tahun</label>
                            <label class="radio control-label"><%= radio_button_tag(:lama_waktu_tunggu, "12") %> >= 1.5 tahun</label>
                           </td>
                         </tr>


                         <tr>
                           <td>
                            <p><em>Pertanyaan C5-C8 ditujukan untuk anda yang PERNAH BEKERJA</em></p>
                            <label><strong>5. Berapakah gaji/income yang Anda terima saat PERTAMA KALI anda bekerja/berwirausaha?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "1", :checked => true) %> Gaji <= 1 juta</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "2") %> 1.000.001 < Gaji ≤ 1.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "3") %> 1.500.001 < Gaji ≤ 2.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "4") %> 2.500.001 < Gaji ≤ 2.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "5") %> 3.000.001 < Gaji ≤ 3.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "6") %> 3.500.001 < Gaji ≤ 4.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "7") %> 4.000.001 < Gaji ≤ 4.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "8") %> 4.500.001 < Gaji ≤ 5.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "9") %> 5.000.001 < Gaji ≤ 5.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "10") %> 5.500.001 < Gaji ≤ 6.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "11") %> 6.000.001 < Gaji ≤ 6.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "12") %> 6.500.001 < Gaji ≤ 7.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "13") %> 7.000.001 < Gaji ≤ 7.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "14") %> 7.500.001 < Gaji ≤ 8.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "15") %> 8.000.001 < Gaji ≤ 8.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "16") %> 8.500.001 < Gaji ≤ 9.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "17") %> 9.000.001 < Gaji ≤ 9.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "18") %> 9.500.001 < Gaji ≤ 10.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji_pertama, "19") %> Gaji > 10.000.000</label>

                           </td>
                         </tr>

                         <tr>
                           <td>
                            <label><strong>6. Berapakah gaji/income yang Anda terima pada pekerjaan/usaha anda saat ini?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "1", :checked => true) %> Gaji <= 1 juta</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "2") %> 1.000.001 < Gaji ≤ 1.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "3") %> 1.500.001 < Gaji ≤ 2.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "4") %> 2.500.001 < Gaji ≤ 2.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "5") %> 3.000.001 < Gaji ≤ 3.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "6") %> 3.500.001 < Gaji ≤ 4.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "7") %> 4.000.001 < Gaji ≤ 4.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "8") %> 4.500.001 < Gaji ≤ 5.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "9") %> 5.000.001 < Gaji ≤ 5.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "10") %> 5.500.001 < Gaji ≤ 6.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "11") %> 6.000.001 < Gaji ≤ 6.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "12") %> 6.500.001 < Gaji ≤ 7.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "13") %> 7.000.001 < Gaji ≤ 7.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "14") %> 7.500.001 < Gaji ≤ 8.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "15") %> 8.000.001 < Gaji ≤ 8.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "16") %> 8.500.001 < Gaji ≤ 9.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "17") %> 9.000.001 < Gaji ≤ 9.500.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "18") %> 9.500.001 < Gaji ≤ 10.000.000</label>
                            <label class="radio control-label"><%= radio_button_tag(:gaji, "19") %> Gaji > 10.000.000</label>

                           </td>
                         </tr>

                         <tr>
                           <td>
                            <label><strong>7. Termasuk golongan manakah level karir terakhir (latest career level) anda?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:level, "entry", :checked => true) %> Entry</label>
                            <label class="radio control-label"><%= radio_button_tag(:level, "middle") %> Middle</label>
                            <label class="radio control-label"><%= radio_button_tag(:level, "high") %> High</label>
                           </td>
                         </tr>

                         <tr>
                           <td>
                            <label><strong>8. Di bidang/sektor apakah pekerjaan/usaha anda SAAT INI?</strong></label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "pertanian", :checked => true) %> Pertanian</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "pertambangan") %> Pertambangan</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "industri_pengolahan") %> Industri Pengolahan</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "listrik") %> Listrik, Gas, Uap, Udara panas/dingin</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "air") %> Air, Daur Ulang, Limbah</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "konstruksi") %> Konstruksi</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "perdagangan") %> Perdagangan</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "informasi") %> Informasi dan Komunikasi</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "keuangan") %> Keuangan dan Asuransi</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "real_estate") %> Real Estate</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "jasa_profesi") %> Jasa Profesi, Ilmiah, Teknis</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "pemerintahan") %> Administrasi Pemerintahan</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "pendidikan") %> Pendidikan</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "transportasi") %> Transportasi dan Perdagangan</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "makanan") %> Akomodasi, Makanan, dan Minuman</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "kesehatan") %> Kesehatan dan Sosial</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "kesenian") %> Kesenian, Hiburan, dan Rekreasi</label>
                            <label class="radio control-label"><%= radio_button_tag(:bidang, "lain") %> Lainnya</label>
                           </td>
                         </tr>

                       </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<hr>