<header>
  <nav>
    <div class="row">
      <div class="large-12 columns">
        <ul class="logo-nav">
          <li><img src="<%= asset_path('ranking/logo-nav.png')%>"></li>
        </ul>
        <ul class="nav-bar">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Ranking", rating_path %></li>
          <li><%= link_to "Perguruan Tinggi", univs_path %></li>
          <li><%= link_to "Program Studi", prodis_path %></li>
          <li><%= link_to "Login", "#" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>