%html
  %head
    %title= "Kampus.co.id - #{ yield(:title) }"
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
      %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
      %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
      = stylesheet_link_tag "admin", :media => "all"
  %body
    .container-fluid.left-menu
      .navbar.main
        .innerpx
          %button.btn.btn-navbar.hidden-desktop.hidden-tablet{:type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .positionWrapper
            %span.line
            .profile
              %img.avatar{:alt => "Profile", :src => "/assets/glend.jpg"}
              %span.info.hidden-phone
                %strong Glend Maatita
                %em Content Manager
            %ul.notif
              %li
                %a.glyphicons.charts.btn{"data-original-title" => "8765 Perguruan Tinggi", "data-placement" => "bottom", :href => "", :rel => "tooltip"}
                  %i
                  %span 8765
              %li
                %a.glyphicons.charts.btn{"data-original-title" => "1437 Program Studi", "data-placement" => "bottom", :href => "", :rel => "tooltip"}
                  %i
                  %span 1437
            %ul.topnav.hidden-phone
              %li
                %a.logout.glyphicons.lock{:href => "#{ logout_path }"}
                  %i
                  %span Logout
      .row-fluid.rrow.main
        .span12.main.col{:role => "main"}
          .row-fluid.rrow
            .span2.col.main-left.hide.hidden-phone.menu-large.menu-small
              .rrow.scroll-y-left
                .iScrollWrapper
                  %ul
                    %li.glyphicons.dashboard.currentScroll.active
                      %a{:href => "#{ dashboard_path }"}
                        %i
                        %span Dashboard
                    %li.glyphicons.crown
                      %a{:href => "#{ admins_path }"}
                        %i
                        %span Admin
                    %li.glyphicons.old_man
                      %a{:href => "#{ visitors_list_path }"}
                        %i
                        %span Visitor
                    %li.glyphicons.group
                      %a{:href => "#{ subscribers_list_path }"}
                        %i
                        %span Subscriber
                    %li.hasSubmenu2
                      %a.glyphicons.folder_open{"data-toggle" => "collapse", :href => "#menu_master"}
                        %i
                        %span Master
                      %ul#menu_master.collapse
                        %li
                          %a.glyphicons.show_big_thumbnails{:href => "#{ provinsis_path }"}
                            %i
                            %span Provinsi
                        %li
                          %a.glyphicons.show_thumbnails{:href => "#{ kotas_path }"}
                            %i
                            %span Kota
                        %li
                          %a.glyphicons.tags{:href => "#{ jenis_pts_path }"}
                            %i
                            %span Jenis PT
                        %li
                          %a.glyphicons.tag{:href => "#{ jenjang_prodis_path }"}
                            %i
                            %span Jenjang
                        %li
                          %a.glyphicons.more_windows{:href => "#{ prodi_bidangs_path }"}
                            %i
                            %span Bidang
                    %li.hasSubmenu2
                      %a.glyphicons.hdd{"data-toggle" => "collapse", :href => "#data"}
                        %i
                        %span Data
                      %ul#data.collapse
                        %li
                          %a.glyphicons.building{:href => "#{ univs_list_path }"}
                            %i
                            %span PT
                        %li
                          %a.glyphicons.building{:href => "#{ prodis_list_path }"}
                            %i
                            %span Prodi
                    %li.glyphicons.certificate
                      %a{:href => "#{ ranking_list_path }"}
                        %i
                        %span Ranking
                %span.navarrow.hide
                  %span.glyphicons.circle_arrow_down
                    %i
            .span10.col.main-right
              #mainYScroller.rrow.scroll-y
                .inner.topRight
                  %ul.breadcrumb
                    %li
                      %a.glyphicons.home{:href => "index.html?lang=en"}
                        %i
                        BootAdmin
                    %li.divider
                    %li Dashboard
                  .separator
                  = yield
                  %br
    = javascript_include_tag "admin"
    - if params[:controller] == "prodis"
      %script{ src: "/assets/jquery.autocomplete.min.js" }    
      :javascript
        $('#prodi_bidang').autocomplete({
          serviceUrl: '/prodi_bidangs_stream.json',
          onSelect: function (suggestion) {
            $("#prodi_bidang_id").val(suggestion.data);
          }
        });

        $('#kota').autocomplete({
          serviceUrl: '/kotas_stream.json',
          onSelect: function (suggestion) {
            $("#kota_id").val(suggestion.data);
          }
        });

        $('#nama_pt').autocomplete({
          serviceUrl: '/univs_stream.json',
          onSelect: function (suggestion) {
            $("#univ_id").val(suggestion.data);
          }
        });
= debug(params) if Rails.env.development? 