<!DOCTYPE html>
<html>
   <head>
      <title>Kampus.co.id - Administrator | <%= yield(:title) %></title>
      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <style type="text/css">
         <!--
            .style2 {color: #999999}
            -->
      </style>
      <style>
         .pricing-table .plan {
         border-radius: 5px;
         -moz-box-shadow: 0 0 6px 2px #b0b2ab;
         -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
         }
         .plan {
         padding: 20px;
         }
      </style>
   </head>
   <body>
      <!-- Navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container">
               <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
               <a class="brand" href="#">Administrator - Kampus</a>
               <% if admin_signed_in? %>
               <div class="nav-collapse collapse">
                  <ul class="nav">
                     <li class="divider-vertical"></li>
                     <li><a href="#"><i class="icon-home glyphw-white"></i> Home</a></li>
                  </ul>
                  <div class="pull-right">
                     <ul class="nav pull-right">
                        <li><a href="#"><i class="icon-info-sign glyphw-white"></i> Notification <span class="badge badge-warning">4</span></a></li>
                        <li><a href="#"><i class="icon-list-alt glyphw-white"></i> Setting</a></li>
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share-alt glyphw-white"></i> <%= current_user.nama %> <b class="caret"></b></a>
                           <ul class="dropdown-menu">
                              <li><%= link_to edit_admin_profile_path(current_user) do %><i class="icon-user glyphw"></i> Profil Saya<% end %></li>
                              <li><%= link_to admin_logout_path do %><i class="icon-off glyphw"></i> Logout<% end %></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
               <% end %>
            </div>
         </div>
      </div>
      <div class="container">
         <div style="padding: 40px; padding-bottom: 0px;"></div>
         <% if admin_signed_in? %>
         <div class="row-fluid">
            <div class="span12">
               <div class="span3">
                  <div class="well" style="width:250px; padding: 8px 0;">
                     <ul class="nav nav-list">
                        <li class="nav-header">Admin Menu</li>
                        <li><a href="index"><i class="icon-home glyphw"></i> Dashboard</a></li>
                        <% if current_user.role == 'admin' %>
                        <li><%= link_to admins_path do %><i class="icon-user glyphw"></i> Admins<% end %></li>
                        <% end %>
                        <li class="divider"></li>
                        <li class="nav-header">Master</li>
                        <% if current_user.role == 'admin' || current_user.role == 'editor' %>
                        <li><%= link_to provinsis_path do %><i class="icon-th-large glyphw"></i> Provinsi<% end %></li>
                        <li><%= link_to kotas_path do %><i class="icon-th glyphw"></i> Kota<% end %></li>
                        <li><%= link_to jenis_pts_path do %><i class="icon-tags glyphw"></i> Jenis Perguruan Tinggi<% end %></li>
                        <li><%= link_to jenjang_prodis_path do %><i class="icon-tag glyphw"></i> Jenjang Jurusan<% end %></li>
                        <li class="divider"></li>
                        <% end %>
                        <li class="nav-header">Data</li>
                        <li><%= link_to univs_list_path do %><i class="icon-map-marker glyphw"></i> Perguruan Tinggi<% end %></li>
                        <li><%= link_to prodis_list_path do %><i class="icon-map-marker glyphw"></i> Jurusan<% end %></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-th-list glyphw"></i> Settings</a></li>
                        <li><%= link_to admin_logout_path do %><i class="icon-off glyphw"></i> Logout<% end %></li>
                     </ul>
                  </div>
               </div>
               <div class="span9">
                  <h4>Dashboard</h4>
                  <ul class="breadcrumb">
                     <li><a href="#">Home</a> <span class="divider">/</span></li>
                     <li><a href="#">Dashboard</a> <span class="divider">/</span></li>
                  </ul>
                  <div>
                  	<!-- content here -->
                     <%= yield %>
                  </div>
               </div>
            </div>
         </div>
         <% elsif %>
         <%= yield %>  
         <% end %>
      </div>
   </body>
</html>