<!DOCTYPE html>
<html>
   <head>
      <title>Kampus.co.id | <%= yield(:title) %></title>
      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= csrf_meta_tags %>
      <style type="text/css">
         <!--
            .style2 {color: #999999}
            -->
      </style>
   </head>
   <body data-spy="scroll">
      <!-- Navbar -->
      <div class="navbar navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container">
               <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <%= link_to "Kampus", root_path, :class => "brand" %>
               <div class="nav-collapse collapse">
                  <ul class="nav pull-right">
                     <li><a href="#"><i class="icon-pencil glyphw"></i> Blog</a></li>
                     <li><%= link_to rating_path do %><i class="icon-star glyphw"></i> Rating<% end %></li>
                     <li><%= link_to signup_path do %><i class="icon-user glyphw"></i> Signup<% end %></li>
                     <% if signed_in? %>
                     <li><%= link_to logout_path do %><i class="icon-share-alt glyphw"></i> Logout<% end %></li>
                     <% else %>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share-alt glyphw"></i> Login <b class="caret"></b></a>
                        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                           <%= form_for :session, :url => sessions_path do |f| %>
                              <div class="control-group">
                                 <div class="controls">
                                    <%= f.text_field :email, :placeholder => 'Email' %>
                                    <%= f.password_field :password, :placeholder => 'Password' %>
                                    <label class="checkbox"><input type="checkbox"> Remember me </label>
                                    <button type="submit" class="btn">Login</button> 
                                    <%= link_to login_path do %>
                                    <span class="label label-warning">Lupa Password?</span>
                                    <% end %>
                                 </div>
                              </div>
                           <% end %>
                           <div class="divider"></div>
                           <div class="nav-header">Login dengan Facebook</div>
                           <div><%= link_to image_tag("fblogin.png", :alt => "FB Login"), 'auth/facebook' %></div>
                           <div class="divider"></div>
                        </div>
                     </li>
                     <% end %>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- end of Navbar -->
      
      <!-- Content here -->
      <%= yield %>

      <!-- footer -->
      <div class="container">
         <div class="row">
            <div class="span4">
               <h3>Informasi</h3>
               <p>Kampus.co.id adalah Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </div>
            <div class="span4 offset1">
               <h3>Support</h3>
               <ul class="nav nav-list">
                  <li><a href="#"><i class="icon-list glyphw"></i> F.A.Q</a></li>
                  <li><a href="#"><i class="icon-book glyphw"></i> Term & Condition</a></li>
                  <li><a href="http://kampusnews.com" target="blank"><i class="icon-hand-right glyphw"></i> KampusNews.com</a></li>
               </ul>
               <h3>Newsletter</h3>
               <p>Berlangganan melalui email</p>
               <%= form_for Visitor.new, :class => "form-inline" do |f| %>

               <% if flash[:newsletter_success] != nil %>
                  <div class="alert alert-success">
                     <%= flash[:newsletter_success] %><br>
                  </div>
               <% end %>

               <% if flash[:newsletter_error] != nil %>
                  <div class="alert alert-error">
                     <%= flash[:newsletter_error] %><br>
                  </div>
               <% end %>


                  <div class="input-append">
                     <%= f.text_field :email, :placeholder => "Email", :class => "span2" %>
                     <button type="submit" class="btn">Submit</button>
                  </div>
               <% end %>
            </div>
            <div class="span3">
               <h3>Kontak</h3>
               <address>
                  <strong>Kampus.co.id</strong><br>
                  Jl. Kutisari Indah 135 Surabaya<br>
                  Jawa Timur, Indonesia<br>
               </address>
               <address>
                  <i class="icon-home glyphw"></i> 031-3490049<br>
                  <i class="icon-envelope glyphw"></i> info@kampus.co.id<br>
               </address>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <%= javascript_include_tag "application" %>
   </body>
</html>