<!DOCTYPE html>
%html{ class: "no-js", lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width" }
    %title= "Kampus.co.id - #{ yield(:title) }"
    
    - if params[:controller] == "ranking"
      = stylesheet_link_tag "ranking", :media => "all"
    - elsif params[:controller] == "univs" && params[:action] == "index"
      = stylesheet_link_tag "univ_search", :media => "all"
    - elsif params[:controller] == "search" && params[:att] == "univ"
    - elsif (params[:controller] == "univs" && params[:action] == "show")
      = stylesheet_link_tag "univ_profile", :media => "all"
      %noscript
        :css
          .es-carousel ul{
            display:block;
          }
      %script{ id: "img-wrapper-tmpl", type: "text/x-jquery-tmpl" } 
        .rg-image-wrapper
          .rg-image
          .rg-loading

      = javascript_include_tag "jquery"
      = javascript_include_tag "highcharts"
      :javascript
        $(function () {
          $('#container-chart').highcharts({
            chart: {
              type: 'bar'
            },
            title: {
              text: 'APPROVED SPEND TO DATE FOR FISCAL YEAR 2013: $17,360,612'
            },
            xAxis: {
              categories: ['Intellectual Property', 'Antitrust/Competition'],
              title: {
                text: null
              },
              labels : {
                enabled: false
              }
            },
            yAxis: {
              stackLabels: {
                formatter: function() {
                  return this.axis.chart.xAxis[0].categories[this.x] + ': $' + this.total;
                },
                enabled: true,           
                verticalAlign: 'top',     
                align: 'left',
                y: -5
              },
              min: 0,
              title: {
                text: 'Approved spend',
                align: 'high'
              },
              labels: {
                overflow: 'justify'
              }
            },
            tooltip: {
              valueSuffix: ' dollars'
            },
            plotOptions: {
              bar: {
                stacking: 'normal'
              }
            },
            legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 100,
              floating: true,
              borderWidth: 1,
              backgroundColor: '#FFFFFF',
              shadow: true
            },
            credits: {
              enabled: false
            },
            series: [{
              name: 'Year 2013',
              data: [6000123, 3743653]
            }]
          });
        }); 


    - elsif params[:controller] == "compare"
      = stylesheet_link_tag "compare", :media => "all"
    - elsif params[:controller] == "survey_respondens"
      = stylesheet_link_tag "survey", :media => "all"
    - elsif params[:controller] == "sessions"
      = stylesheet_link_tag "session", :media => "all"
    - elsif params[:controller] == "univreviews"
      = stylesheet_link_tag "univreview", :media => "all"
    
  %body
    - if params[:controller] == "compare" || params[:controller] == "survey_respondens" || params[:controller] == "sessions" || params[:controller] == "univreviews"
      = render partial: "compare/header"
    - else
      = render :partial => "layouts/header"
    - if params[:controller] == "univs" || (params[:controller] == "search" && params[:att] == "univ")
      = render :partial => "univs/header_extension"
    - elsif params[:controller] == "compare"
      = render :partial => "compare/meta_compare"
    - elsif params[:controller] == "survey_respondens"
      = render :partial => "survey_respondens/meta_header"
    - elsif params[:controller] == "sessions"
      = render :partial => "sessions/meta_header"
    - elsif params[:controller] == "univreviews"
      = render :partial => "univreviews/meta_header"

    %div{ role: "main" }
      = yield 

    .secondary
      = render :partial => "layouts/support"

    = render :partial => "layouts/footer"

    :javascript
      document.write('<script src=' +
      ('__proto__' in {} ? '/assets/front/vendor/zepto' : '/assets/front/vendor/jquery') +
      '.js><\/script>');

    = javascript_include_tag "application"

    - if params[:controller] == "univs" && params[:action] == "show"
      = javascript_include_tag "front/univ_profile"

    :javascript
      $(document).foundation();
      $(document).ready(function() {      
        $(".description-panel section").mouseenter(function(){
          $(this).addClass("active-section");        
        });
        $(".description-panel section").mouseleave(function(){
          $(this).removeClass("active-section");
        });

        $('.checkall').on('click', function () {
            //$(this).closest('form').find(':checkbox').prop('checked', this.checked);
            console.log('diklk');
        });        
      });

    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    - if params[:controller] == "univs" && params[:action] == "show"
      :javascript
        $('.popup-gallery-container').each(function() {
          $(this).magnificPopup({
              delegate: 'a', // the container for each your gallery items
              type: 'image',
              gallery:{enabled:true}
          });
        });
      = yield :js_initialization

    - if params[:controller] == "survey_respondens"
      %script{ src: "/assets/jquery.autocomplete.min.js" }    
      :javascript
        $(document).foundation();
        $(document).ready(function() {
          $('#autocomplete_pt').autocomplete({
            serviceUrl: '/univs_stream.json',
            onSelect: function (suggestion) {
              $("#univ_id").val(suggestion.data);
              $("#autocomplete_pt").val(suggestion.value);

              $('#autocomplete_prodi').autocomplete({
                serviceUrl: '/prodis_stream.json',
                params: { 
                    univ_id : $("#univ_id").val()
                },
                onSelect: function (suggestion) {
                  $("#prodi_id").val(suggestion.data);
                  $("#autocomplete_prodi").val(suggestion.value);
                }
              });
            }
          });
        });
