<!DOCTYPE html>
<html>
<head>
  <title>CampusSight | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", home_path %>
<%= link_to "Sign Up", signup_path %>

<% if signed_in? %>
	<%= link_to "Logout", logout_path %>
<% else %>
	<%= link_to "Login", login_path %>
	<%= link_to "Login With Facebook", 'auth/facebook' %>
<% end %>

<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
