<!DOCTYPE html>
<!--[if IE 8]>              <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
   <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Kampus.co.id - <%= yield(:title) %></title>
  
  <% if params[:controller] == "rating" %>
    <%= stylesheet_link_tag "ranking", :media => "all" %>
  <% elsif params[:controller] == "univs" && params[:action] == "index" %>
    <%= stylesheet_link_tag "univsearch", :media => "all" %>
  <% elsif params[:controller] == "prodis" && params[:action] == "index" %>
    <%= stylesheet_link_tag "prodisearch", :media => "all" %>
  <% elsif (params[:controller] == "univs" && params[:action] == "show") || (params[:controller] == "prodis" && params[:action] == "show") %>
    <%= stylesheet_link_tag "profil", :media => "all" %>
    <noscript>
      <style>
        .es-carousel ul{
          display:block;
        }
      </style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">  
      <div class="rg-image-wrapper">
        <div class="rg-image"></div>
        <div class="rg-loading"></div>        
      </div>
    </script>
  <% end %>

</head>
<body>
  <%= render :partial => "layouts/header" %>
  <% if params[:controller] == "univs" %>
    <%= render :partial => "univs/header_extension" %>
  <% elsif params[:controller] == "prodis" %>
    <%= render :partial => "prodis/header_extension" %>
  <% end %>
  <div role="main">
   <%= yield %>
  </div>
  <div class="secondary">
   <%= render :partial => "layouts/support" %>  
  </div>
  <%= render :partial => "layouts/footer" %>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/assets/vendor/zepto' : '/assets/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="/assets/vendor/custom.modernizr.js"></script>    
  <script src="/assets/vendor/jquery.js"></script>  
  <script src="/assets/foundation.min.js"></script>

  <%= javascript_include_tag "application" %>
  <% if params[:controller] == "univs" && params[:action] == "show" %>
    <%= javascript_include_tag "univprofile" %>
  <% end %>

  <script>
    $(document).foundation();
    $(document).ready(function() {      
      $(".description-panel section").mouseenter(function(){
        $(this).addClass("active-section");        
      });
      $(".description-panel section").mouseleave(function(){
        $(this).removeClass("active-section");
      });

      $('.checkall').on('click', function () {
          //$(this).closest('form').find(':checkbox').prop('checked', this.checked);
          console.log('diklk');
      });
    });
  </script>
</body>
</html>
